= render "layouts/manage/page_title", title: "Bus Lists" do
  = link_to "New Bus List", new_manage_bus_list_path, class: "btn btn-sm btn-outline-secondary"

%div
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th Name
        %th Capacity
        %th Needs bus captain?
        %th Schools

    %tbody
      - @bus_lists.each do |bus_list|
        %tr
          %td
            %strong= link_to(bus_list.name, manage_bus_list_path(bus_list))
          %td #{bus_list.passengers.count} / #{bus_list.capacity}
          %td= bus_list.needs_bus_captain ? "<strong class=\"text-danger\">Needs bus captain</strong>".html_safe : "No"
          %td= bus_list.schools.count
