<%= render "layouts/manage/page_title", title: t(:title, scope: 'pages.manage.bus-lists'), docs: 'https://coderit.org/hackathon-manager/docs/busses' do %>
  <%= link_to "New Bus List", new_manage_bus_list_path, class: "btn btn-sm btn-outline-secondary" %>
<% end %>
<div class="mb-4">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Filled / Capacity</th>
        <th>Boarded / Checked in</th>
        <th>Needs bus captain?</th>
        <th>Schools</th>
      </tr>
    </thead>
    <tbody>
      <% @bus_lists.each do |bus_list| %>
        <tr>
          <td>
            <strong>
              <%= link_to(bus_list.name, manage_bus_list_path(bus_list)) %>
            </strong>
          </td>
          <td>#{bus_list.passengers.count} / #{bus_list.capacity}</td>
          <td>#{bus_list.boarded_passengers.count} / #{bus_list.checked_in_passengers.count}</td>
          <td>
            <%= pluralize bus_list.captains.count, "captain" %>
            &ndash;
            <%= bus_list.needs_bus_captain ? "<strong class=\"text-danger\">Needs bus captain</strong>".html_safe : "No" %>
          </td>
          <td>
            <%= bus_list.schools.count %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="mb-4">
  <%= render 'docs_link', title: 'Bus list documentation', url: 'https://coderit.org/hackathon-manager/docs/busses' %>
</div>
