<ruby>
  
  ignore_fields = ['acc_status_author_id', 'acc_status_date']
  audits ||= model.audits if defined?(model)
  audits = audits.sort_by(&:created_at).reverse


</ruby>
<% audits.each_with_index do |audit, index| %>
  <div class="d-xl-flex justify-content-between">
    <div>
      <% if audit.action == 'create' %>
        <p class="mb-1">
          <%= audit.auditable.model_name.human %>
          created
        </p>
      <% else %>
        <% audit.audited_changes.each do |field, value_pairs| %>
          <% next if ignore_fields.include? field %>
          <p class="mb-1">
            <%= t("simple_form.labels.#{audit.auditable.class.name.downcase}.#{field}") %>
            <% if audit.auditable.class.columns_hash[field].nil? || audit.auditable.class.columns_hash[field].type == :text %>
              changed
            <% else %>
              changed to
              <strong>
                <%= display_audit_value(value_pairs[1], field) %>
              </strong>
              <br/>
              <small class="text-secondary">
                Previously:
                <strong>
                  <%= display_audit_value(value_pairs[0], field) %>
                </strong>
              </small>
            <% end %>
          </p>
        <% end %>
      <% end %>
    </div>
    <div class="text-secondary d-flex justify-content-between flex-xl-column justify-content-xl-start text-xl-right">
      <p class="mb-0">
        <small>
          <span class="fa fa-clock-o icon-space-r-half"></span>
          <%= display_datetime(audit.created_at) %>
        </small>
      </p>
      <p class="mb-2">
        <% if audit.user %>
          <small data-content="<%= audit.user.email %>" data-toggle="popover" data-trigger="hover">
            <span class="fa fa-user-o icon-space-r-half"></span>
            <%= audit.user.full_name %>
          </small>
        <% else %>
          &nbsp;
        <% end %>
      </p>
    </div>
  </div>
  <% unless (index + 1) == audits.count %>
    <hr class="mt-1 mb-2"/>
  <% end %>
<% end %>
<% if audits.empty? %>
  <p class="alert alert-info">
    No history recorded.
  </p>
<% end %>
