%div
  %table.datatable.questionnaires.table.table-striped.table-hover{ "data-source" => datatable_manage_questionnaires_path(format: :json) }
    %thead
      %tr
        %th
        %th
        %th
        %th= t(:first_name, scope: 'pages.manage.questionnaires.table')
        %th= t(:last_name, scope: 'pages.manage.questionnaires.table')
        %th= t(:email, scope: 'pages.manage.questionnaires.table')
        %th= t(:phone, scope: 'pages.manage.questionnaires.table')
        %th= t(:gender, scope: 'pages.manage.questionnaires.table')
        %th= t(:date_of_birth, scope: 'pages.manage.questionnaires.table')
        %th Status
        %th= t(:checked_in, scope: 'pages.manage.questionnaires.table')
        %th= t(:boarded_bus, scope: 'pages.manage.questionnaires.table')
        %th= t(:bus_captain, scope: 'pages.manage.questionnaires.table')
        %th= t(:school, scope: 'pages.manage.questionnaires.table')
        %th= t(:created_at, scope: 'pages.manage.questionnaires.table')
        %th= t(:dietary_restrictions, scope: 'pages.manage.questionnaires.table')
        %th= t(:special_needs, scope: 'pages.manage.questionnaires.table')
    %tbody
