.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
  .d-flex.align-items-center.flex-wrap
    %h1.h2.mr-3
      = title @questionnaire.full_name
    %div
      %span.mr-1
        = render 'manage/questionnaires/acc_status_badge'
      %span
        = render 'manage/questionnaires/check_in_badge'

  .btn-group{role: "group"}
    = link_to 'View Full', manage_questionnaire_path(@questionnaire), class: 'btn btn-sm btn-outline-secondary'

.row
  .col-md-6
    = render 'manage/questionnaires/top_alerts'
    .card.mb-3
      .card-header Summary
      .card-body
        .row
          %dt.col-md-4 Name
          %dd.col-md-8= @questionnaire.full_name
          %dt.col-md-4 School
          %dd.col-md-8
            - school = @questionnaire.school
            = link_to school.name, manage_school_path(school)
          %dt.col-md-4 Email
          %dd.col-md-8= @questionnaire.email
          %dt.col-md-4 Phone
          %dd.col-md-8= @questionnaire.phone
          %dt.col-md-4 Date of birth
          %dd.col-md-8
            = @questionnaire.date_of_birth_formatted
            %span.badge.badge-pill.badge-dark{"data-container" => "body", "data-toggle" => "popover", "data-placement" => "right", "data-content" => "Age at time of event", "data-trigger" => "hover"}
              = @questionnaire.age_at_time_of_event / 1.year

    = render 'manage/questionnaires/checkin_compliance_card'

    .card.mb-3
      .card-header Special notices
      .card-body
        .row
          %dt.col-md-4 Dietary restrictions
          %dd.col-md-8
            - if @questionnaire.dietary_restrictions.present?
              %span.fa.fa-exclamation-triangle.text-warning.icon-space-r-half
              = @questionnaire.dietary_restrictions
            - else
              %span.text-muted (none)
          %dt.col-md-4 Special needs
          %dd.col-md-8
            - if @questionnaire.special_needs.present?
              %span.fa.fa-exclamation-triangle.text-warning.icon-space-r-half
              = @questionnaire.special_needs
            - else
              %span.text-muted (none)

  .col-md-6
    = render 'manage/questionnaires/checkin_card', redirect_to_checkins: true
