.form-container
  = bs_horizontal_simple_form_for @school, url: url_for(action: @school.new_record? ? "create" : "update", controller: "schools"), html: { "data-validate" => "form" } do |f|

    - if f.error_notification.present?
      #disclaimer
        = f.error_notification

    .form-inputs
      = f.input :name
      = f.input :is_home
      = f.input :address
      = f.input :city
      = f.input :state

    .center
      = f.button :submit, value: ( @school.new_record? ? 'Create' : 'Save' ), class: 'btn-primary'
