%section.section.manage
  %h1.section-title= title @school.name

  .container.container-half
    %p
      %b Name:
      = @school.name
    %p
      %b Address:
      = @school.address || "(not provided)"
    %p
      %b City:
      = @school.city || "(not provided)"
    %p
      %b State:
      = @school.state || "(not provided)"
    %p
      %b Bus List:
      = @school.bus_list ? link_to(@school.bus_list.name, manage_bus_list_path(@school.bus_list)) : '(not assigned)'

  .container.container-half
    %p
      %strong Duplicate Names
    %p If someone attempts to apply using a name below, they'll automatically be converted to this school.
    %table.table
      %thead
        %tr
          %th School Name
          %th Date Created
      %tbody
        - dupes = SchoolNameDuplicate.where(school_id: @school.id)
        - dupes.each do |dupe|
          %tr
            %td= dupe.name
            %td= dupe.created_at
        - if dupes.blank?
          %tr
            %td{colspan: 2}
              %em No duplicate names exist for this school.

  %hr

  - unless current_user.admin_limited_access
    = link_to 'Edit', edit_manage_school_path(@school)
    \|
  - unless current_user.admin_limited_access
    = link_to 'Merge', merge_manage_school_path(@school)
    \|
  = link_to 'Back', manage_schools_path

  %hr

  %p
    %strong Questionnaires
  %table.table
    %thead
      %tr
        %th
        %th First Name
        %th Last Name
        %th Email
        %th Status
        %th Checked In?
    %tbody
      - @school.questionnaires.order(:acc_status).each do |q|
        %tr
          %td= link_to '<i class="fa fa-search"></i>'.html_safe, manage_questionnaire_path(q)
          %td= q.first_name
          %td= q.last_name
          %td= q.email
          %td= "<span class=\"acc-status-#{q.acc_status}\">#{Questionnaire::POSSIBLE_ACC_STATUS[q.acc_status]}</span>".html_safe
          %td= q.checked_in? ? "Yes" : "No"
