= render "layouts/manage/page_title", title: @school.name, subtitle: "School" do
  .btn-group
    = link_to 'Edit', edit_manage_school_path(@school), class: 'btn btn-sm btn-outline-secondary'
    = link_to 'Merge', merge_manage_school_path(@school), class: 'btn btn-sm btn-outline-secondary'

.row
  .col-md-6
    %h4.pb-1 Details
    %p
      %b Name:
      = @school.name
    %p
      %b Address:
      = @school.address || "(not provided)"
    %p
      %b City:
      = @school.city || "(not provided)"
    %p
      %b State:
      = @school.state || "(not provided)"
    %p
      %b Bus List:
      = @school.bus_list ? link_to(@school.bus_list.name, manage_bus_list_path(@school.bus_list)) : '(not assigned)'

  .col-md-6
    %h4.pb-1 Duplicate Names
    %p If someone attempts to apply using a name below, they'll automatically be converted to this school.
    %table.table.table-striped
      %thead
        %tr
          %th School Name
          %th Date Created
      %tbody
        - dupes = SchoolNameDuplicate.where(school_id: @school.id)
        - dupes.each do |dupe|
          %tr
            %td= dupe.name
            %td= dupe.created_at
        - if dupes.blank?
          %tr
            %td{colspan: 2}
              %em No duplicate names exist for this school.

.row.mt-2
  .col
    %h4.pb-2 Questionnaires
    %table.table
      %caption= "#{@school.questionnaires.count} total"
      %thead
        %tr
          %th
          %th First Name
          %th Last Name
          %th Email
          %th Status
          %th Checked In?
      %tbody
        - @school.questionnaires.order(:acc_status).each do |q|
          %tr
            %td= link_to '<i class="fa fa-search"></i>'.html_safe, manage_questionnaire_path(q)
            %td= q.first_name
            %td= q.last_name
            %td= q.email
            %td= "<span class=\"text-#{acc_status_class(q.acc_status)}\">#{Questionnaire::POSSIBLE_ACC_STATUS[q.acc_status]}</span>".html_safe
            %td= q.checked_in? ? "Yes" : "No"
