= render "layouts/manage/page_title", title: "Trackable Tags" do
  = link_to "New Tag", new_manage_trackable_tag_path, class: "btn btn-sm btn-outline-secondary"

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th
      - unless current_user.admin_limited_access
        %th
        %th

  %tbody
    - @trackable_tags.each do |trackable_tag|
      %tr
        %td= trackable_tag.name
        %td= link_to 'Show', manage_trackable_tag_path(trackable_tag)
        - unless current_user.admin_limited_access
          %td= link_to 'Edit', edit_manage_trackable_tag_path(trackable_tag)
          %td= link_to 'Destroy', manage_trackable_tag_path(trackable_tag), method: :delete, data: { confirm: 'Are you sure?' }

%br
