= render "layouts/manage/page_title", title: @trackable_tag.name, subtitle: "Trackable Tag" do
  .btn-group
    = link_to 'Edit', edit_manage_trackable_tag_path(@trackable_tag), class: 'btn btn-sm btn-outline-secondary'
    = link_to 'Delete', manage_trackable_tag_path(@trackable_tag), method: :delete, data: { confirm: "Are you sure? The trackable tag \"#{@trackable_tag.name}\" will be permanently erased. This action is irreversible." }, class: 'btn btn-sm btn-outline-secondary'

%p
  %b Name:
  = @trackable_tag.name
