!!! 5
%html
  %head
    %title= yield(:title) || Rails.configuration.hackathon['default_page_title']
    %meta{ charset: "utf-8" }
    %meta{ name:"viewport", content: "width=device-width, initial-scale=1" }
    = stylesheet_link_tag "hackathon_manager/core", media: "all"
    = csrf_meta_tags

  %body
    = render "layouts/hackathon_manager/header"
    = render "layouts/hackathon_manager/account_nav"
    = render "layouts/hackathon_manager/flashes"
    #main
      %section.section
        .container
          = yield
    = render "layouts/hackathon_manager/footer"
    = javascript_include_tag "hackathon_manager/application"
    = render "layouts/hackathon_manager/shared_footer"
