.form-container
  #disclaimer
    %h1.section-title
      Authorization
      %span.emphasized Required
    %p
      = raw t('.prompt', client_name: content_tag(:strong, class: 'text-info') { @pre_auth.client.name })
    %p
      = t('.able_to')
    .actions
      = form_tag oauth_authorization_path, method: :delete, style: "padding-right: 10px;" do
        = hidden_field_tag :client_id, @pre_auth.client.uid
        = hidden_field_tag :redirect_uri, @pre_auth.redirect_uri
        = hidden_field_tag :state, @pre_auth.state
        = hidden_field_tag :response_type, @pre_auth.response_type
        = hidden_field_tag :scope, @pre_auth.scope
        = hidden_field_tag :code_challenge, @pre_auth.code_challenge
        = hidden_field_tag :code_challenge_method, @pre_auth.code_challenge_method
        = submit_tag t('doorkeeper.authorizations.buttons.deny')
      = form_tag oauth_authorization_path, method: :post do
        = hidden_field_tag :client_id, @pre_auth.client.uid
        = hidden_field_tag :redirect_uri, @pre_auth.redirect_uri
        = hidden_field_tag :state, @pre_auth.state
        = hidden_field_tag :response_type, @pre_auth.response_type
        = hidden_field_tag :scope, @pre_auth.scope
        = hidden_field_tag :code_challenge, @pre_auth.code_challenge
        = hidden_field_tag :code_challenge_method, @pre_auth.code_challenge_method
        = submit_tag t('doorkeeper.authorizations.buttons.authorize')
      