= render "layouts/manage/page_title", title: "Data Exports" do
  = link_to "New Data Export", new_manage_data_export_path, class: "btn btn-sm btn-outline-secondary"

%table.table.table-striped
  %thead
    %tr
      %th Type
      %th Created
      %th Timeline
      %th Download
      %th Delete

  %tbody
    - if @data_exports.blank?
      %tr
        %td{colspan: 5} No data exports have been generated.
    - @data_exports.each do |data_export|
      %tr
        %td= data_export.export_type.titleize
        %td= display_datetime(data_export.created_at)
        %td
          %span
            Queued: #{data_export.queued_at || "n/a"}
          %br
          %span
            Started: #{data_export.started_at || "n/a"}
          %br
          %span
            Finished: #{data_export.finished_at || "n/a"}
        %td
          - if data_export.finished? && data_export.file.attached?
            = link_to "Download", rails_blob_path(data_export.file)
          - else
            Not available
            %br
            %small Please wait for generation to finish
        %td= link_to 'Delete', manage_data_export_path(data_export), method: :delete, data: { confirm: "Are you sure? The data export \"#{data_export.file_basename}\" will be permanently deleted. This action is irreversible." }, class: 'btn btn-sm btn-outline-secondary'

%br
