= render "layouts/manage/page_title", title: t(:title, scope: 'pages.manage.agreements') do
  = link_to "New Agreement", new_manage_agreement_path, class: "btn btn-sm btn-outline-secondary"

%p.text-muted
  = t(:notice, scope: 'pages.manage.agreements', hackathon_name: HackathonConfig['name'])
.mb-4
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th
        %th
        %th
          = t(:name, scope: 'pages.manage.agreements')
        %th
          = t(:agreement, scope: 'pages.manage.agreements')

    %tbody
      - @agreements.each do |agreement|
        %tr
          %td
            = link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_manage_agreement_path(agreement)
          %td
            = link_to '<i class="fa fa-trash"></i>'.html_safe, manage_agreement_path(agreement), method: :delete, data: { confirm: "Are you sure? The agreement will be permanently deleted. This action is irreversible." }
          %td
            %strong
              = agreement.name
          %td
            = markdown(agreement.agreement)
