.row
  .col-md-6
    .card.mb-3
      .card-body
        %h5.card-title.mb-1 Acceptance
        %p.card-text
          = render 'acc_status_badge'
          %small
            = @questionnaire.acc_status_author_id ? @questionnaire.acc_status_author.email : "(no author)"
            = @questionnaire.acc_status_date ? display_datetime(@questionnaire.acc_status_date, in_sentence: true) : "(no date)"
        - if current_user.admin?
          = bs_vertical_simple_form @questionnaire, url: url_for(action: "update_acc_status", controller: "questionnaires") do |f|
            = f.input :acc_status, as: :select, collection: Questionnaire::POSSIBLE_ACC_STATUS.invert, include_blank: false, label: "Acceptance Status:", hint: "Updating this status may trigger an automatic email to the applicant - see #{link_to('messages', manage_messages_path(anchor: 'triggered-email-overview'))} for details.".html_safe
            = f.button :submit, value: "Update Status", class: 'btn-primary'
  .col-md-6
    .card.mb-3
      .card-body
        %h5.card-title.mb-1 Check-in
        %p.card-text
          = render 'check_in_badge'
          - if @questionnaire.checked_in_at
            %small
              = @questionnaire.checked_in_by_id ? @questionnaire.checked_in_by.email : "(never checked in)"
              = @questionnaire.checked_in_at ? display_datetime(@questionnaire.checked_in_at, in_sentence: true) : "(not checked in)"
        %p
          Please confirm their phone number and email address before checking in.
          - if !@questionnaire.can_rsvp?
            %br
            %span.text-danger
              Note: This applicant has not been accepted.
        = bs_horizontal_simple_form_for @questionnaire, url: url_for(action: "check_in", controller: "questionnaires", method: :put), html: { "data-validate" => "form" } do |f|
          - if !@questionnaire.checked_in?
            = f.input :phone, input_html: { "data-validate" => "presence" }
            = f.input :email, input_html: { "data-validate" => "presence email", value: @questionnaire.user.try(:email) }, required: true
          = hidden_field_tag("check_in", !@questionnaire.checked_in?)
          = f.button :submit, value: ( @questionnaire.checked_in? ? "Remove check-in" : "Check In" ), class: 'btn-primary'
