.form-container
  = bs_horizontal_simple_form_for @questionnaire, url: url_for(action: @questionnaire.new_record? ? "create" : "update", controller: "questionnaires"), html: { "data-validate" => "form" } do |f|

    - if f.error_notification.present?
      = f.error_notification
    .row
      .col-xl-6
        .card.mb-4
          .card-header Personal information
          .card-body
            - if @questionnaire&.user&.provider == 'mlh'
              %h6.card-subtitle.mb-2
                %span.badge.badge-info Provided by MyMLH
            = f.simple_fields_for :user, @questionnaire.user do |u|
              = u.input :first_name, input_html: { "data-validate" => "presence" }, label: "First Name", autofocus: true
              = u.input :last_name, input_html: { "data-validate" => "presence" }, label: "Last Name"
            = f.input :email, input_html: { "data-validate" => "presence email", value: @questionnaire.user.try(:email) }, required: true, hint: 'Can be an existing user (without a questionnaire) or a new user. If this is a new user, they will receive a randomly-generated password that they must request a password reset for.'
            = f.input :phone, input_html: { "data-validate" => "presence" }
            = f.input :date_of_birth, start_year: Date.today.year - 18, end_year: Date.today.year - 90, order: [:month, :day, :year], input_html: { "data-validate" => "presence" }
            = f.input :school_id, as: :school_selection, input_html: { "data-validate" => "presence" }
            = f.input :level_of_study, input_html: { "data-validate" => "presence" }
            = f.input :major, input_html: { "data-validate" => "presence" }
            = f.input :gender, input_html: { "data-validate" => "presence" }

        - if !HackathonConfig['digital_hackathon']
          .card.mb-4
            .card-header Travel information
            .card-body
              - travel_state = !@questionnaire.new_record? && @questionnaire.travel_not_from_school
              = f.input :travel_not_from_school, label: "I will not be traveling from my school"
              = f.input :travel_location, input_html: { "data-validate" => "presence", disabled: !travel_state }, wrapper_html: { style: travel_state ? "" : "display: none" }, label: "Travel Location"

              = f.association :bus_list, label: "Bus list", include_blank: 'Not travelling on a sponsored bus'
              = f.input :boarded_bus, as: :boolean, label: "Boarded bus", input_html: { checked: @questionnaire.boarded_bus_at.present? }
              = f.input :is_bus_captain, label: "Is Bus Captain"

      .col-xl-6
        .card.mb-4
          .card-header Special notices
          .card-body
            = f.input :shirt_size, as: :select, collection: Questionnaire::POSSIBLE_SHIRT_SIZES, include_blank: "(select one...)", input_html: { "data-validate" => "presence" }
            - if !HackathonConfig['digital_hackathon']
              = f.input :dietary_restrictions, label: "Dietary restrictions"
            = f.input :special_needs, label: "Special needs"
        .card.mb-4
          .card-header Resume
          .card-body
            - if HackathonManager.field_enabled?(:why_attend)
              = f.input :why_attend, label: "Why #{HackathonConfig['name']}?", placeholder: "In a sentence or two, why would you like to attend #{HackathonConfig['name']}?", input_html: { rows: 3, maxlength: 280 }

            = f.input :experience, as: :select, collection: Questionnaire::POSSIBLE_EXPERIENCES.invert, include_blank: "(select one...)", label: "Experience", input_html: { "data-validate" => "presence" }
            = f.input :interest, as: :select, collection: Questionnaire::POSSIBLE_INTERESTS.invert, include_blank: "(select one...)", label: "Interest", input_html: { "data-validate" => "presence" }

            = f.input :graduation_year, as: :select, collection: Questionnaire::POSSIBLE_GRAD_YEARS, include_blank: "(select one...)", label: "Graduation year", input_html: { "data-validate" => "presence" }, wrapper_html: { class: 'input--half' }
            = f.input :race_ethnicity, as: :select, collection: Questionnaire::POSSIBLE_RACE_ETHNICITIES, include_blank: "(select one...)", label: "Race/Ethnicity", input_html: { "data-validate" => "presence" }, wrapper_html: { class: 'input--half' }

            = f.input :resume, as: :deletable_attachment, hint: "Must be under 2MB", input_html: { "data-validate" => "file-max-size file-content-type", "data-validate-file-max-size" => "2097152", "data-validate-file-content-type" => "application/pdf" }, label: "Resume (PDF)"

            = f.input :portfolio_url, label: "Portfolio Link"
            = f.input :vcs_url, label: "GitHub/GitLab/Bitbucket"

            = f.input :can_share_info, label: "Share resume with employers?"

      .col-xl-6
        .card.mb-4
          .card-header Hackathon Specific Questions
          .card-body
            = f.simple_fields_for :extra_question_data do |e|
              - @extra_questions.each do |q|
                - if q.required
                  = e.input q.id.to_s.to_sym, required: q.required, collection: q.select_collection, include_blank: "(select one...)", placeholder: q.placeholder ,label: q.question, as: q.data_type, selected: @questionnaire.extra_question_data[q.id.to_s], input_html: {:value => @questionnaire.extra_question_data[q.id.to_s], :checked => (!!@questionnaire.extra_question_data[q.id.to_s]), "data-validate" => "presence" }
                - else
                  = e.input q.id.to_s.to_sym, required: q.required, collection: q.select_collection, include_blank: "(select one...)", placeholder: q.placeholder ,label: q.question, as: q.data_type, selected: @questionnaire.extra_question_data[q.id.to_s], input_html: {:value => @questionnaire.extra_question_data[q.id.to_s], :checked => (!!@questionnaire.extra_question_data[q.id.to_s])}


    .center.mb-4
      = f.button :submit, value: ( @questionnaire.new_record? ? 'Create' : 'Save' ), class: 'btn-primary'
