- not_provided = "<span class=\"text-muted\">Not provided</span>".html_safe.freeze

.row
  .col-md-6
    = render 'top_alerts'

    .card.mb-3
      .card-header Personal information
      .card-body
        .row
          %dt.col-md-4 First name
          %dd.col-md-8= @questionnaire.user.first_name
          %dt.col-md-4 Last name
          %dd.col-md-8= @questionnaire.user.last_name
          %dt.col-md-4 Email
          %dd.col-md-8= @questionnaire.email
          %dt.col-md-4 Phone
          %dd.col-md-8= @questionnaire.phone
          %dt.col-md-4 Date of birth
          %dd.col-md-8
            = @questionnaire.date_of_birth_formatted
            %span.badge.badge-pill.badge-dark{"data-container" => "body", "data-toggle" => "popover", "data-placement" => "right", "data-content" => "Age at time of event", "data-trigger" => "hover"}
              = @questionnaire.age_at_time_of_event / 1.year
          %dt.col-md-4 Gender
          %dd.col-md-8= @questionnaire.gender

    = render 'checkin_compliance_card'

  .col-md-6
    .card.mb-3
      .card-header Special notices
      .card-body
        .row
          %dt.col-md-4 Shirt size
          %dd.col-md-8= @questionnaire.shirt_size
          - if !HackathonConfig['digital_hackathon']
            %dt.col-md-4 Dietary restrictions
            %dd.col-md-8
              - if @questionnaire.dietary_restrictions.present?
                %span.fa.fa-exclamation-triangle.text-warning.icon-space-r-half
                = @questionnaire.dietary_restrictions
              - else
                %span.text-muted (none)
          %dt.col-md-4 Special needs
          %dd.col-md-8
            - if @questionnaire.special_needs.present?
              %span.fa.fa-exclamation-triangle.text-warning.icon-space-r-half
              = @questionnaire.special_needs
            - else
              %span.text-muted (none)
          - if !HackathonConfig['digital_hackathon']
            %dt.col-md-4 Bus list
            %dd.col-md-8
              - if @questionnaire.bus_list_id?
                = link_to @questionnaire.bus_list.name, manage_bus_list_path(@questionnaire.bus_list_id)
              - else
                %span.text-muted (none)
            - if @questionnaire.bus_list_id?
              %dt.col-md-4 Boarded bus?
              %dd.col-md-8
                - if @questionnaire.boarded_bus?
                  Yes
                - else
                  No
            %dt.col-md-4 Bus captain
            %dd.col-md-8
              - if @questionnaire.is_bus_captain?
                %strong.text-danger Is bus captain
              - elsif @questionnaire.bus_captain_interest?
                %strong.text-success Interested in being a captain
              - else
                %span.text-muted No
            %dt.col-md-4 Traveling from
            %dd.col-md-8
              = @questionnaire.travel_not_from_school ? "Somewhere else (#{@questionnaire.travel_location})" : "<span class=\"text-muted\">My school</span>".html_safe

    .card.mb-3
      .card-header Resume
      .card-body
        .row
          - if HackathonManager.field_enabled?(:why_attend)
            %dt.col-md-4 Why #{HackathonConfig['name']}?
            %dd.col-md-8
              = @questionnaire.why_attend.presence || not_provided
          %dt.col-md-4 Experience
          %dd.col-md-8
            = Questionnaire::POSSIBLE_EXPERIENCES[@questionnaire.experience]
          %dt.col-md-4 Portfolio
          %dd.col-md-8
            = @questionnaire.portfolio_url? ? link_to(@questionnaire.portfolio_url, @questionnaire.portfolio_url, target: '_blank', rel: 'noopener') : not_provided
          %dt.col-md-4 GitHub/GitLab/Bitbucket
          %dd.col-md-8
            = @questionnaire.vcs_url? ? link_to(@questionnaire.vcs_url, @questionnaire.vcs_url, target: '_blank', rel: 'noopener') : not_provided
          %dt.col-md-4 Resume
          %dd.col-md-8
            = @questionnaire.resume.attached? ? link_to("Download &raquo;".html_safe, @questionnaire.resume) : not_provided

    .card.mb-3
      .card-header Education
      .card-body
        .row
          %dt.col-md-4 School
          %dd.col-md-8
            - school = @questionnaire.school
            = link_to school.name, manage_school_path(school)
            - if school.full_location.present?
              .small.text-muted= school.full_location
          %dt.col-md-4 Major
          %dd.col-md-8= @questionnaire.major
          %dt.col-md-4 Level of study
          %dd.col-md-8= @questionnaire.level_of_study
