<% not_provided = "<span class=\"text-muted\">Not provided</span>".html_safe.freeze %>
<div class="row">
  <div class="col-md-6">
    <%= render 'top_alerts' %>
    <div class="card mb-3">
      <div class="card-header">Personal information</div>
      <div class="card-body">
        <div class="row">
          <dt class="col-md-4">First name</dt>
          <dd class="col-md-8">
            <%= @questionnaire.user.first_name %>
          </dd>
          <dt class="col-md-4">Last name</dt>
          <dd class="col-md-8">
            <%= @questionnaire.user.last_name %>
          </dd>
          <dt class="col-md-4">Email</dt>
          <dd class="col-md-8">
            <%= @questionnaire.email %>
          </dd>
          <dt class="col-md-4">Phone</dt>
          <dd class="col-md-8">
            <%= @questionnaire.phone %>
          </dd>
          <dt class="col-md-4">Date of birth</dt>
          <dd class="col-md-8">
            <%= @questionnaire.date_of_birth_formatted %>
            <span class="badge badge-pill badge-dark" data-container="body" data-content="Age at time of event" data-placement="right" data-toggle="popover" data-trigger="hover">
              <%= @questionnaire.age_at_time_of_event / 1.year %>
            </span>
          </dd>
          <dt class="col-md-4">Gender</dt>
          <dd class="col-md-8">
            <%= @questionnaire.gender %>
          </dd>
          <dt class="col-md-4">Country</dt>
          <dd class="col-md-8">
            <%= @questionnaire.country %>
          </dd>
        </div>
      </div>
    </div>
    <%= render 'checkin_compliance_card' %>
  </div>
  <div class="col-md-6">
    <div class="card mb-3">
      <div class="card-header">Special notices</div>
      <div class="card-body">
        <div class="row">
          <dt class="col-md-4">Shirt size</dt>
          <dd class="col-md-8">
            <%= @questionnaire.shirt_size %>
          </dd>
          <% if !HackathonConfig['digital_hackathon'] %>
            <dt class="col-md-4">Dietary restrictions</dt>
            <dd class="col-md-8">
              <% if @questionnaire.dietary_restrictions.present? %>
                <span class="fa fa-exclamation-triangle text-warning icon-space-r-half"></span>
                <%= @questionnaire.dietary_restrictions %>
              <% else %>
                <span class="text-muted">(none)</span>
              <% end %>
            </dd>
          <% end %>
          <dt class="col-md-4">Special needs</dt>
          <dd class="col-md-8">
            <% if @questionnaire.special_needs.present? %>
              <span class="fa fa-exclamation-triangle text-warning icon-space-r-half"></span>
              <%= @questionnaire.special_needs %>
            <% else %>
              <span class="text-muted">(none)</span>
            <% end %>
          </dd>
          <% if !HackathonConfig['digital_hackathon'] %>
            <dt class="col-md-4">Bus list</dt>
            <dd class="col-md-8">
              <% if @questionnaire.bus_list_id? %>
                <%= link_to @questionnaire.bus_list.name, manage_bus_list_path(@questionnaire.bus_list_id) %>
              <% else %>
                <span class="text-muted">(none)</span>
              <% end %>
            </dd>
            <% if @questionnaire.bus_list_id? %>
              <dt class="col-md-4">Boarded bus?</dt>
              <dd class="col-md-8">
                <% if @questionnaire.boarded_bus? %>
                  Yes
                <% else %>
                  No
                <% end %>
              </dd>
            <% end %>
            <dt class="col-md-4">Bus captain</dt>
            <dd class="col-md-8">
              <% if @questionnaire.is_bus_captain? %>
                <strong class="text-danger">Is bus captain</strong>
              <% elsif @questionnaire.bus_captain_interest? %>
                <strong class="text-success">Interested in being a captain</strong>
              <% else %>
                <span class="text-muted">No</span>
              <% end %>
            </dd>
            <dt class="col-md-4">Traveling from</dt>
            <dd class="col-md-8">
              <%= @questionnaire.travel_not_from_school ? "Somewhere else (#{@questionnaire.travel_location})" : "<span class=\"text-muted\">My school</span>".html_safe %>
            </dd>
          <% end %>
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-header">Resume</div>
      <div class="card-body">
        <div class="row">
          <% if HackathonManager.field_enabled?(:why_attend) %>
            <dt class="col-md-4">Why #{HackathonConfig['name']}?</dt>
            <dd class="col-md-8">
              <%= @questionnaire.why_attend.presence || not_provided %>
            </dd>
          <% end %>
          <dt class="col-md-4">Experience</dt>
          <dd class="col-md-8">
            <%= Questionnaire::POSSIBLE_EXPERIENCES[@questionnaire.experience] %>
          </dd>
          <dt class="col-md-4">Portfolio</dt>
          <dd class="col-md-8">
            <%= @questionnaire.portfolio_url? ? link_to(@questionnaire.portfolio_url, @questionnaire.portfolio_url, target: '_blank', rel: 'noopener') : not_provided %>
          </dd>
          <dt class="col-md-4">GitHub/GitLab/Bitbucket</dt>
          <dd class="col-md-8">
            <%= @questionnaire.vcs_url? ? link_to(@questionnaire.vcs_url, @questionnaire.vcs_url, target: '_blank', rel: 'noopener') : not_provided %>
          </dd>
          <dt class="col-md-4">Resume</dt>
          <dd class="col-md-8">
            <%= @questionnaire.resume.attached? ? link_to("Download &raquo;".html_safe, @questionnaire.resume) : not_provided %>
          </dd>
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-header">Education</div>
      <div class="card-body">
        <div class="row">
          <dt class="col-md-4">School</dt>
          <dd class="col-md-8">
            <% school = @questionnaire.school %>
            <%= link_to school.name, manage_school_path(school) %>
            <% if school.full_location.present? %>
              <div class="small text-muted">
                <%= school.full_location %>
              </div>
            <% end %>
          </dd>
          <dt class="col-md-4">Major</dt>
          <dd class="col-md-8">
            <%= @questionnaire.major %>
          </dd>
          <dt class="col-md-4">Level of study</dt>
          <dd class="col-md-8">
            <%= @questionnaire.level_of_study %>
          </dd>
        </div>
      </div>
    </div>
  </div>
</div>
