.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
  .d-flex.align-items-center.flex-wrap
    %h1.h2.mr-3
      = title @questionnaire.full_name
    %div
      %span.mr-1
        = render 'acc_status_badge'
      %span
        = render 'check_in_badge'

  .btn-group{role: "group"}
    - unless current_user.admin_limited_access
      = link_to 'Edit', edit_manage_questionnaire_path(@questionnaire), class: 'btn btn-sm btn-outline-secondary'
    = link_to 'Invite to Slack', invite_to_slack_manage_questionnaire_path(@questionnaire), method: :patch, class: 'btn btn-sm btn-outline-secondary'
    - unless current_user.admin_limited_access
      .btn-group{role: "group"}
        %button.btn.btn-sm.btn-outline-secondary.dropdown-toggle#title-actions{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", type: "button"}
          .fa.fa-cog
        .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "title-actions"}
          = link_to 'Convert to Admin', convert_to_admin_manage_questionnaire_path(@questionnaire), method: :patch, data: { confirm: "Are you sure? The questionnaire for \"#{@questionnaire.full_name}\" will be permanently erased. This action is irreversible." }, class: 'dropdown-item'

= render 'overview'

.row
  .col
    %h3.mt-3.pb-2.border-bottom.mb-3 Admissions

= render 'checkin'

.row
  .col
    %h3.mt-3.pb-2.border-bottom.mb-3 History

= render 'history'
