<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <div class="d-flex align-items-center flex-wrap">
    <h1 class="h2 mr-3">
      <%= title @questionnaire.user.full_name %>
    </h1>
    <div>
      <span class="mr-1">
        <%= render 'acc_status_badge' %>
      </span>
      <span>
        <%= render 'check_in_badge' %>
      </span>
    </div>
  </div>
  <div class="btn-group" role="group">
    <% if current_user.director? %>
      <%= link_to 'Edit', edit_manage_questionnaire_path(@questionnaire), class: 'btn btn-sm btn-outline-secondary' %>
    <% end %>
  </div>
</div>
<%= render 'overview' %>
<div class="row">
  <div class="col">
    <h3 class="mt-3 pb-2 border-bottom mb-3">Admissions</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title mb-1">Acceptance</h5>
        <p class="card-text">
          <%= render 'acc_status_badge' %>
          <small>
            <% if @questionnaire.acc_status_author_id %>
              <% if @questionnaire.acc_status_author %>
                <%= @questionnaire.acc_status_author.email %>
              <% else %>
                <%= "(deleted user)" %>
              <% end %>
            <% else %>
              <%= "(no author)" %>
            <% end %>
            <%= @questionnaire.acc_status_date ? display_datetime(@questionnaire.acc_status_date, in_sentence: true) : "(no date)" %>
          </small>
        </p>
        <% if current_user.director? %>
          <%= bs_vertical_simple_form @questionnaire, url: url_for(action: "update_acc_status", controller: "questionnaires") do |f| %>
            <%= f.input :acc_status, as: :select, collection: Questionnaire::POSSIBLE_ACC_STATUS.invert, include_blank: false, label: "Acceptance Status:", hint: "Updating this status may trigger an automatic email to the applicant - see #{link_to('messages', manage_messages_path(anchor: 'triggered-email-overview'))} for details.".html_safe %>
            <%= f.button :submit, value: "Update Status", class: 'btn-primary' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <%= render 'checkin_card' %>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3 class="mt-3 pb-2 border-bottom mb-3">History</h3>
  </div>
</div>
<%= render 'history' %>
