= bs_horizontal_simple_form_for @event, url: url_for(action: @event.new_record? ? "create" : "update", controller: "events") do |f|
  = f.error_notification
  .form-inputs
    = f.input :title
    = f.input :description
    = f.input :location
    = f.input :category
    = f.input :start
    = f.input :finish, include_blank: true
  .center
    //TODO figure out why you need to add save and it doesn't work automatically like other forms
    = f.button :submit, 'Save', value: ( @event.new_record? ? 'Create' : 'Save' ), class: 'btn-primary'
