= bs_horizontal_simple_form_for @event, url: url_for(action: @event.new_record? ? "create" : "update", controller: "events") do |f|
  .form-inputs
    = f.input :title
    = f.input :description
    = f.input :location
    = f.input :owner, as: :select, collection: @event.possible_owners, input_html: { class: "selectize", multiple: true,  }, placeholder: "Type to search for admins..."
    = f.input :public
    = f.input :start, minute_step: 5
    = f.input :end, minute_step: 5
  .center
    = f.button :submit, value: ( @event.new_record? ? 'Create' : 'Save' ), class: 'btn-primary'
