.form-container
  = bs_horizontal_simple_form_for @user, url: url_for(action: @user.new_record? ? "create" : "update", controller: "admins"), html: { "data-validate" => "form" } do |f|

    - if @user.new_record?
      %p
        If a user already exists, first delete the questionnaire in the
        = link_to "questionnaires manager.", manage_questionnaires_path
    - if f.error_notification.present?
      #disclaimer
        = f.error_notification

    .form-inputs
      = f.input :email, input_html: { "data-validate" => "presence" }, required: true
      = f.input :admin_limited_access, label: "Limited Access"

    .center
      = f.button :submit, value: ( @user.new_record? ? 'Create' : 'Save' ), class: 'btn-primary'
