= render "layouts/manage/page_title", title: @user.email do
  .btn-group
    = link_to 'Edit', edit_manage_admin_path(@user), class: 'btn btn-sm btn-outline-secondary'
    = link_to 'Delete', manage_admin_path(@user), method: :delete, data: { confirm: "Are you sure? #{@user.email} will be permanently deleted. This action is irreversible." }, class: 'btn btn-sm btn-outline-secondary'

.row.mt-2.mb-4
  .col-lg-6
    %p
      %b Email address:
      = @user.email

    %p
      %b Role:
      = @user.role.titleize

    %p
      %b Login access:
      - if @user.is_active
        %span.badge.badge-success Active
      - else
        %span.badge.badge-danger Inactive

    %p
      %b Receive weekly report:
      - if @user.receive_weekly_report
        %span.badge.badge-success Yes
        - if !@user.is_active
          %br
          %small
            %span.fa.fa-info-circle.icon-space-r-half
            Will not receive while user is inactive
      - else
        %span.badge.badge-secondary No

    %p
      %b Registered:
      = display_datetime(@user.created_at)

  .col-lg-6
    %h4.border-bottom.pb-2.mb-3 Change History
    = render "model_history", model: @user
