.form-container
  = bs_horizontal_simple_form_for(@application, url: doorkeeper_submit_path(@application)) do |f|
    = f.error_notification

    .form-inputs
      = f.input :name,  required: true
      = f.input :redirect_uri, required: true
      = f.input :confidential
      = f.input :scopes

    .center
      = f.button :submit, class: 'btn-primary'
