<%= render "layouts/manage/page_title", title: t(:title, scope: 'pages.manage.doorkeeper'), docs: 'https://coderit.org/hackathon-manager/docs/busses' do %>
  <%= link_to t(:new, scope: 'doorkeeper.applications.index'), new_oauth_application_path, class: "btn btn-sm btn-outline-secondary" %>
<% end %>
<div class="mb-4">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th></th>
        <th>
          <%= t(:name, scope: 'doorkeeper.applications.index') %>
        </th>
        <th>
          <%= t(:callback_url, scope: 'doorkeeper.applications.index') %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @applications.each do |application| %>
        <tr>
          <td>
            <%= link_to('<i class="fa fa-search"></i>'.html_safe, oauth_application_path(application)) %>
          </td>
          <td>
            <strong>
              <%= application.name %>
            </strong>
          </td>
          <td>
            <%= simple_format(application.redirect_uri) %>
          </td>
          <td>
            <%= application.confidential? ? t('doorkeeper.applications.index.confidentiality.yes') : t('doorkeeper.applications.index.confidentiality.no') %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
