= render "layouts/manage/page_title", title: @application.name, subtitle: t(:title, scope: 'doorkeeper.applications.show') do
  .btn-group
    = link_to t('doorkeeper.applications.buttons.edit'), edit_oauth_application_path(@application), class: 'btn btn-sm btn-outline-secondary'
    = link_to t('doorkeeper.applications.buttons.destroy'), oauth_application_path(@application), method: :delete, data: { confirm: t('doorkeeper.applications.confirmations.destroy', name: @application.name) }, class: 'btn btn-sm btn-outline-secondary'

.row
  .col-lg-6
    %h4.border-bottom.pb-2.mb-3 Details
    %dl.row
      %dt.col-md-4
        = t('.application_id')
      %dd.col-md-8
        %code#application_id.bg-light
          = @application.uid
      %dt.col-md-4
        = t('.secret')
      %dd.col-md-8
        %code#application_id.bg-light
          = flash[:application_secret].presence || @application.plaintext_secret
      %dt.col-md-4
        = t('.scopes')
      %dd.col-md-8
        - if @application.scopes.present?
          = @application.scopes
        - else
          %bg-light.font-italic.text-muted
            = t('.not_defined')
      %dt.col-md-4
        = t('.confidential')
      %dd.col-md-8
        = @application.confidential? ? "Yes" : "No"

  .col-lg-6
    .h4.border-bottom.pb-2.mb-3
      = t('.callback_urls')
    %table.table.table-striped.table-hover
      %tbody
        - @application.redirect_uri.split.each do |uri|
          %tr
            %td
              = uri
            %td
              = link_to t('doorkeeper.applications.buttons.authorize'), oauth_authorization_path(client_id: @application.uid, redirect_uri: uri, response_type: 'code', scope: @application.scopes), class: 'btn btn-sm btn-outline-primary', target: '_blank'
