= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = f.error_notification
  .form-inputs
    = f.input :email, required: true, autofocus: true
  .form-actions.right
    = f.button :submit, "Send Reset Instructions"
    %p.session-link
      Remembered it?
      = link_to "Sign in!".html_safe, new_user_session_path
    %p.session-link
      No account?
      = link_to "Register!".html_safe, new_user_registration_path
