- title 'Change Password'
.form-container.password
  .section-title.center
    Change Your
    %div.emphasized Password
  = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
    = f.error_notification
    = f.input :reset_password_token, as: :hidden
    = f.full_error :reset_password_token
    .form-inputs
      = f.input :password, label: "New Password", required: true, autofocus: true
      = f.input :password_confirmation, label: "Confirm", required: true
    .form-actions.right
      = f.button :submit, "Change My Password"
      %p.session-link
        Remembered it?
        = link_to "Sign in!".html_safe, new_user_session_path
