<% blue = "#4886C2" %>
<% green = "#7FEC8D" %>
<% red = "#E44646" %>
<% orange = "#F49C54" %>
<% grey = "#A6A6A6" %>
<% colors = { accepted: blue, rsvp_confirmed: green, rsvp_denied: red, pending: "#F98728", denied: "#666", waitlist: "#059", late_waitlist: "#057" } %>
<%= javascript_include_tag "vendor/d3.v3.min.js" %>
<%= javascript_include_tag "vendor/queue.v1.min.js" %>
<%= javascript_include_tag "vendor/topojson.v1.min.js" %>
<%= render "layouts/manage/page_title", title: t(:title, scope: 'pages.manage.dashboard') %>
<button class="btn btn-secondary w-100 map-button">Show Map</button>
<div class="row">
  <div class="col">
    <div id="map"></div>
    <script>
      
      $('#map').initMap();


    </script>
  </div>
</div>
<div class="row">
  <div class="col-7">
    <h5 class="dashboard-container-title">Today's Activity</h5>
    <%= area_chart todays_activity_data_manage_dashboard_index_path, colors: [blue, green, red, grey] %>
  </div>
  <div class="col-5">
    <h5 class="dashboard-container-title">Today's Stats</h5>
    <%= pie_chart todays_stats_data_manage_dashboard_index_path, colors: [blue, green, red, grey] %>
  </div>
</div>
<% if Questionnaire.where('checked_in_at > 0').any? || Questionnaire.where('boarded_bus_at > 0').any? %>
  <div class="row">
    <div class="col">
      <h5 class="dashboard-container-title">Check-in activity</h5>
      <% if !HackathonConfig['digital_hackathon'] %>
        <div class="graph-overlay double-metrics">
          <h3>
            <%= Questionnaire.where('checked_in_at > 0').count %>
          </h3>
          <p>total checked in</p>
          <h3>
            <%= Questionnaire.where('boarded_bus_at > 0').count %>
          </h3>
          <p>total boarded bus</p>
        </div>
      <% else %>
        <div class="graph-overlay">
          <h3>
            <%= Questionnaire.where('checked_in_at > 0').count %>
          </h3>
          <p>total checked in</p>
        </div>
      <% end %>
      <%= area_chart checkin_activity_data_manage_dashboard_index_path, colors: [blue, grey], library: { legend: { enabled: false } } %>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col">
    <h5 class="dashboard-container-title">Confirmation Activity</h5>
    <div class="graph-overlay">
      <h3>
        <%= Questionnaire.where(acc_status: "rsvp_confirmed").count %>
      </h3>
      <p>total confirmed</p>
    </div>
    <%= area_chart confirmation_activity_data_manage_dashboard_index_path, colors: [green, red], library: { legend: { enabled: false } } %>
  </div>
</div>
<div class="row">
  <div class="col">
    <h5 class="dashboard-container-title">Application Activity</h5>
    <div class="graph-overlay">
      <h3>
        <%= Questionnaire.count %>
      </h3>
      <p>total applications</p>
    </div>
    <%= area_chart application_activity_data_manage_dashboard_index_path, colors: [blue, orange, grey], library: { legend: { enabled: false } } %>
  </div>
</div>
<div class="row">
  <div class="col">
    <h5 class="dashboard-container-title">User Distribution</h5>
    <%= pie_chart user_distribution_data_manage_dashboard_index_path, colors: [grey, blue, orange] %>
  </div>
  <div class="col">
    <h5 class="dashboard-container-title">Application Distribution</h5>
    <%= pie_chart application_distribution_data_manage_dashboard_index_path, colors: [colors[:pending], colors[:accepted], colors[:waitlisted], colors[:denied], colors[:late_waitlist], colors[:rsvp_confirmed], colors[:rsvp_denied]] %>
  </div>
</div>
<% if Questionnaire.where(acc_status: 'rsvp_confirmed').count > 0 %>
  <div class="row">
    <div class="col">
      <h5 class="dashboard-container-title">Schools (Confirmed)</h5>
      <ul>
        <%= bar_chart schools_confirmed_data_manage_dashboard_index_path, height: "600px", stacked: true, colors: [blue, orange] %>
      </ul>
    </div>
  </div>
<% end %>
<% if Questionnaire.count > 0 %>
  <div class="row">
    <div class="col">
      <h5 class="dashboard-container-title">Schools (Applied)</h5>
      <ul>
        <%= bar_chart schools_applied_data_manage_dashboard_index_path, height: "600px", stacked: true, colors: [colors[:rsvp_confirmed], colors[:accepted], colors[:waitlist], colors[:late_waitlist], colors[:rsvp_denied], colors[:denied], colors[:pending]], library: { legend: { enabled: false } } %>
      </ul>
      <% if School.where("questionnaire_count >= 5").count > 0 && School.where("questionnaire_count < 5").count > 0 %>
        <p>
          <button class="btn btn-light" onclick="$('#least-applied-schools').toggle()">
            <%= "List schools with < 5 applicants" %>
          </button>
        </p>
        <ul id="least-applied-schools" style="display: none">
          <% School.where("questionnaire_count >= 1 AND questionnaire_count < 5").select([:name, :questionnaire_count]).order("questionnaire_count DESC").each do |school| %>
            <li>
              <%= "#{school.questionnaire_count} - #{school.name}" %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
<% end %>
