.form-container
  = bs_horizontal_simple_form_for @trackable_event, url: url_for(action: @trackable_event.new_record? ? "create" : "update", controller: "trackable_events"), html: { "data-validate" => "form" } do |f|
    = f.error_notification

    .form-inputs
      = f.input :band_id
      = f.input :trackable_tag_id, collection: TrackableTag.all, required: true
      %p
        User:
        = current_user.email
        (current user, this can't be changed)

    .form-actions
      = f.button :submit, class: 'btn-primary'

.mb-4
