<%= render "layouts/manage/page_title", title: "Trackable Events" %>
<%= bs_horizontal_simple_form_for :trackable_event, method: 'get' do |f| %>
  <div class="form-row">
    <div class="col-auto">
      <%= f.input :band_id, as: :string, required: false, input_html: { value: @params['band_id'] }, placeholder: '(show all)' %>
    </div>
    <div class="col-auto">
      <%= f.input :trackable_tag_id, collection: TrackableTag.all, label_method: :name, value_method: :id, include_blank: '(show all)', required: false, selected: @params['trackable_tag_id'] %>
    </div>
    <div class="col-auto">
      <%= f.input :user_id, collection: User.where.not(role: :user), label_method: :email, value_method: :id, include_blank: '(show all)', required: false, selected: @params['user_id'] %>
    </div>
    <div class="col-auto">
      <%= f.button :submit, 'Filter', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Band</th>
      <th>Trackable tag</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @trackable_events.each do |trackable_event| %>
      <tr>
        <td>
          <%= trackable_event.band_id %>
        </td>
        <td>
          <%= trackable_event.trackable_tag.name %>
        </td>
        <td>
          <%= trackable_event.user.email %>
        </td>
        <td>
          <%= link_to 'Show', manage_trackable_event_path(trackable_event) %>
        </td>
        <% if current_user.director? || current_user == trackable_event.user %>
          <td>
            <%= link_to 'Edit', edit_manage_trackable_event_path(trackable_event) %>
          </td>
          <td>
            <%= link_to 'Destroy', manage_trackable_event_path(trackable_event), method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        <% else %>
          <td></td>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<%= link_to 'New Trackable event', new_manage_trackable_event_path %>
