= render "layouts/manage/page_title", title: "Trackable Events"

= bs_horizontal_simple_form_for :trackable_event, method: 'get' do |f|
  .form-row
    .col-auto
      = f.input :user_id, collection: User.where(admin: true), label_method: :email, value_method: :id, include_blank: '(show all)', required: false, selected: @params['user_id']
    .col-auto
      = f.input :band_id, as: :string, required: false, input_html: { value: @params['band_id'] }, placeholder: '(show all)'
    .col-auto
      = f.button :submit, 'Filter', class: 'btn btn-primary'

%table.table.table-striped
  %thead
    %tr
      %th Band
      %th Trackable tag
      %th User
      %th
      %th
      %th

  %tbody
    - @trackable_events.each do |trackable_event|
      %tr
        %td= trackable_event.band_id
        %td= trackable_event.trackable_tag.name
        %td= trackable_event.user.email
        %td= link_to 'Show', manage_trackable_event_path(trackable_event)
        - unless current_user.admin_limited_access && current_user != trackable_event.user
          %td= link_to 'Edit', edit_manage_trackable_event_path(trackable_event)
          %td= link_to 'Destroy', manage_trackable_event_path(trackable_event), method: :delete, data: { confirm: 'Are you sure?' }
        - else
          %td
          %td

%br

= link_to 'New Trackable event', new_manage_trackable_event_path
