<%= render "layouts/manage/page_title", title: t(:title, scope: 'pages.manage.settings') %>
<div class="row">
  <div class="col-lg-6 mb-3">
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title font-weight-bold">
          The Basics
        </h4>
        <h6 class="card-subtitle mb-2 text-muted">
          Core information about your hackathon.
        </h6>
        <% @basics.each_entry do |key| %>
          <% value = HackathonConfig[key] %>
          <hr/>
          <p class="mb-1">
            <%= link_to edit_manage_config_path(key), class: 'icon-space-r' do %>
              <span class="fa fa-pencil"></span>
            <% end %>
            <b>
              <%= t("simple_form.labels.hackathon_config.#{key}") %>
            </b>
          </p>
          <p class="text-muted">
            <%= t("simple_form.hints.hackathon_config.#{key}").html_safe %>
          </p>
          <% if value.nil? || value == '' %>
            <p class="mb-0">
              <span class="badge badge-secondary">Not set</span>
            </p>
          <% else %>
            <pre class="mb-0">
              <%= value %>
            </pre>
            <% if value.is_a?(String) %>
              <% images = ['.ico', '.jpg', '.jpeg', '.png', '.gif', '.svg'].freeze %>
              <% links = ['http://', 'https://'].freeze %>
              <% if value.end_with?(*images) %>
                <br/>
                <%= image_tag value, style: 'max-height: 100px;', class: 'img-thumbnail img-template' %>
              <% elsif value.start_with?(*links) %>
                <br/>
                <%= link_to value, target: 'blank' do %>
                  <span>
                    <span class="fa fa-external-link icon-space-r-half"></span>
                    Open link
                  </span>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title font-weight-bold">
          Applying to
          <%= HackathonConfig['name'] %>
        </h4>
        <h6 class="card-subtitle mb-2 text-muted">
          Configuring questionnaires for your hackathon.
        </h6>
        <% @questionnaire_settings.each_entry do |key| %>
          <% value = HackathonConfig[key] %>
          <hr/>
          <p class="mb-1">
            <%= link_to edit_manage_config_path(key), class: 'icon-space-r' do %>
              <span class="fa fa-pencil"></span>
            <% end %>
            <b>
              <%= t("simple_form.labels.hackathon_config.#{key}") %>
            </b>
          </p>
          <p class="text-muted">
            <%= t("simple_form.hints.hackathon_config.#{key}").html_safe %>
          </p>
          <% if key == 'disabled_fields' %>
            <% cleaned_value = value %>
            <% cleaned_value = cleaned_value.join(' ') if cleaned_value.is_a?(Array) %>
            <% if cleaned_value.blank? %>
              <p class="mb-0">
                <span class="badge badge-secondary">Not set</span>
              </p>
            <% else %>
              <pre class="mb-0">
                <%= cleaned_value %>
              </pre>
            <% end %>
          <% elsif value.nil? || value == '' %>
            <p class="mb-0">
              <span class="badge badge-secondary">Not set</span>
            </p>
          <% else %>
            <pre class="mb-0">
              <%= value %>
            </pre>
            <% if value.is_a?(String) %>
              <% images = ['.ico', '.jpg', '.jpeg', '.png', '.gif', '.svg'].freeze %>
              <% links = ['http://', 'https://'].freeze %>
              <% if value.end_with?(*images) %>
                <br/>
                <%= image_tag value, style: 'max-height: 100px;', class: 'img-thumbnail img-template' %>
              <% elsif value.start_with?(*links) %>
                <br/>
                <%= link_to value, target: 'blank' do %>
                  <span>
                    <span class="fa fa-external-link icon-space-r-half"></span>
                    Open link
                  </span>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title font-weight-bold">
          Styling for
          <%= HackathonConfig['name'] %>
        </h4>
        <h6 class="card-subtitle mb-2 text-muted">
          Matching your hackathon's style.
        </h6>
        <% @styling.each_entry do |key| %>
          <% value = HackathonConfig[key] %>
          <hr/>
          <p class="mb-1">
            <%= link_to edit_manage_config_path(key), class: 'icon-space-r' do %>
              <span class="fa fa-pencil"></span>
            <% end %>
            <b>
              <%= t("simple_form.labels.hackathon_config.#{key}") %>
            </b>
          </p>
          <p class="text-muted">
            <%= t("simple_form.hints.hackathon_config.#{key}").html_safe %>
          </p>
          <% if key == 'custom_css' %>
            <p>
              <%= link_to enter_theming_editor_manage_configs_path do %>
                <span class="fa fa-paint-brush icon-space-r-half"></span>
                Interactive editor
              <% end %>
            </p>
          <% end %>
          <% if value.nil? || value == '' %>
            <p class="mb-0">
              <span class="badge badge-secondary">Not set</span>
            </p>
          <% else %>
            <pre class="mb-0">
              <%= value %>
            </pre>
            <% if value.is_a?(String) %>
              <% images = ['.ico', '.jpg', '.jpeg', '.png', '.gif', '.svg'].freeze %>
              <% links = ['http://', 'https://'].freeze %>
              <% if value.end_with?(*images) %>
                <br/>
                <%= image_tag value, style: 'max-height: 100px;', class: 'img-thumbnail img-template' %>
              <% elsif value.start_with?(*links) %>
                <br/>
                <%= link_to value, target: 'blank' do %>
                  <span>
                    <span class="fa fa-external-link icon-space-r-half"></span>
                    Open link
                  </span>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title font-weight-bold">
          Communications
        </h4>
        <h6 class="card-subtitle mb-2 text-muted">
          Get the word out.
        </h6>
        <% @communications.each_entry do |key| %>
          <% value = HackathonConfig[key] %>
          <hr/>
          <p class="mb-1">
            <%= link_to edit_manage_config_path(key), class: 'icon-space-r' do %>
              <span class="fa fa-pencil"></span>
            <% end %>
            <b>
              <%= t("simple_form.labels.hackathon_config.#{key}") %>
            </b>
          </p>
          <p class="text-muted">
            <%= t("simple_form.hints.hackathon_config.#{key}").html_safe %>
          </p>
          <% if value.nil? || value == '' %>
            <p class="mb-0">
              <span class="badge badge-secondary">Not set</span>
            </p>
          <% else %>
            <pre class="mb-0">
              <%= value %>
            </pre>
            <% if value.is_a?(String) %>
              <% images = ['.ico', '.jpg', '.jpeg', '.png', '.gif', '.svg'].freeze %>
              <% links = ['http://', 'https://'].freeze %>
              <% if value.end_with?(*images) %>
                <br/>
                <%= image_tag value, style: 'max-height: 100px;', class: 'img-thumbnail img-template' %>
              <% elsif value.start_with?(*links) %>
                <br/>
                <%= link_to value, target: 'blank' do %>
                  <span>
                    <span class="fa fa-external-link icon-space-r-half"></span>
                    Open link
                  </span>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="mb-3">
      <div class="card mb-3">
        <div class="card-body">
          <h4 class="card-title font-weight-bold">
            Environment Variables
          </h4>
          <h6 class="card-subtitle mb-2 text-muted">
            Environment variables are configured on the production server.
          </h6>
          <%= render 'docs_link', title: 'Environment variable documentation', url: 'https://coderit.org/hackathon-manager/docs/deployment-environment-variables' %>
          <hr/>
          <%= render 'config_row', name: 'AWS S3 Bucket for Resumes', key: 'AWS_BUCKET' %>
          <%= render 'config_row', name: 'AWS S3 Region', key: 'AWS_REGION' %>
          <%= render 'config_row', name: 'AWS S3 Access Key ID', key: 'AWS_ACCESS_KEY_ID' %>
          <%= render 'config_row', name: 'AWS S3 Secret Access Key', key: 'AWS_SECRET_ACCESS_KEY', secret: true %>
          <%= render 'config_row', name: 'AWS S3 Endpoint', key: 'AWS_ENDPOINT', required: false %>
          <hr/>
          <%= render 'config_row', name: 'Domain Name', key: 'HM_DOMAIN_NAME' %>
          <%= render 'config_row', name: 'Domain Protocol', key: 'HM_DOMAIN_PROTOCOL', default: 'https' %>
          <hr/>
          <%= render 'config_row', name: 'My MLH Application ID', key: 'MLH_KEY' %>
          <%= render 'config_row', name: 'My MLH Secret', key: 'MLH_SECRET', secret: true %>
          <hr/>
          <%= render 'config_row', name: 'Rollbar Access Token', key: 'ROLLBAR_ACCESS_TOKEN', secret: true, required: false %>
          <hr/>
          <%= render 'config_row', name: 'Time Zone', key: 'TIME_ZONE', default: 'UTC', required: false %>
          <hr/>
          <p class="mb-0">
            <b>Email Provider</b>
          </p>
          <% if Rails.application.config.action_mailer.delivery_method == :smtp %>
            <p>
              <span class="badge badge-secondary">SendGrid</span>
              <span class="badge badge-success">SMTP</span>
              <br/>
              <small>
                <i>To switch to SendGrid, unset the <code>SMTP_ADDRESS</code> environment variable</i>
              </small>
            </p>
            <%= render 'config_row', name: 'SMTP Address', key: 'SMTP_ADDRESS' %>
            <%= render 'config_row', name: 'SMTP Port', key: 'SMTP_PORT', default: 587 %>
            <%= render 'config_row', name: 'SMTP Username', key: 'SMTP_USER_NAME', secret: true %>
            <%= render 'config_row', name: 'SMTP Password', key: 'SMTP_PASSWORD', secret: true %>
          <% else %>
            <p>
              <span class="badge badge-success">SendGrid</span>
              <span class="badge badge-secondary">SMTP</span>
              <br/>
              <small>
                <i>To switch to SMTP, set the <code>SMTP_ADDRESS</code> environment variable</i>
              </small>
            </p>
            <%= render 'config_row', name: 'SendGrid API Key', key: 'SENDGRID_API_KEY', secret: true %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
