= render "layouts/manage/page_title", title: "Hackathon Configuration"

.row
  .col-lg-6.mb-3
    - @config.each_key do |key|
      - value = @config[key]
      .card.mb-3
        .card-body
          %p.mb-1
            = link_to edit_manage_config_path(key), class: 'icon-space-r' do
              %span.fa.fa-pencil
            %b
              = t("simple_form.labels.hackathon_config.#{key}")
            &nbsp;
            %small
              %code= key
          %p.text-muted= t("simple_form.hints.hackathon_config.#{key}").html_safe
          - if key == 'custom_css'
            %p
              = link_to enter_theming_editor_manage_configs_path do
                %span.fa.fa-paint-brush.icon-space-r-half
                Interactive editor
          - if key == 'disabled_fields'
            - cleaned_value = value
            - cleaned_value = cleaned_value.join(' ') if cleaned_value.is_a?(Array)
            - if cleaned_value.blank?
              %p.mb-0
                %span.badge.badge-secondary Not set
            - else
              %pre.mb-0= cleaned_value
          - elsif value.nil? || value == ''
            %p.mb-0
              %span.badge.badge-secondary Not set
          - else
            %pre.mb-0= value
            - if value.is_a?(String)
              - images = ['.ico', '.jpg', '.jpeg', '.png', '.gif', '.svg'].freeze
              - links = ['http://', 'https://'].freeze
              - if value.end_with?(*images)
                %br
                = image_tag value, style: 'max-height: 100px;', class: 'img-thumbnail img-template'
              - elsif value.start_with?(*links)
                %br
                = link_to value, target: 'blank' do
                  %span
                    %span.fa.fa-external-link.icon-space-r-half
                    Open link

  .col-lg-6.mb-3
    .card.mb-3
      .card-body
        %h5.card-title Environment Variables
        %h6.card-subtitle.mb-2.text-muted
          Environment variables are configured on the production server.
        = render 'docs_link', title: 'Environment variable documentation', url: 'https://coderit.org/hackathon-manager/docs/deployment-environment-variables'
        %hr
        = render 'config_row', name: 'AWS S3 Bucket for Resumes', key: 'AWS_BUCKET'
        = render 'config_row', name: 'AWS S3 Region', key: 'AWS_REGION'
        = render 'config_row', name: 'AWS S3 Access Key ID', key: 'AWS_ACCESS_KEY_ID'
        = render 'config_row', name: 'AWS S3 Secret Access Key', key: 'AWS_SECRET_ACCESS_KEY', secret: true
        = render 'config_row', name: 'AWS S3 Endpoint', key: 'AWS_ENDPOINT', required: false
        %hr
        = render 'config_row', name: 'Domain Name', key: 'HM_DOMAIN_NAME'
        = render 'config_row', name: 'Domain Protocol', key: 'HM_DOMAIN_PROTOCOL', default: 'https'
        %hr
        = render 'config_row', name: 'My MLH Application ID', key: 'MLH_KEY'
        = render 'config_row', name: 'My MLH Secret', key: 'MLH_SECRET', secret: true
        %hr
        = render 'config_row', name: 'Rollbar Access Token', key: 'ROLLBAR_ACCESS_TOKEN', secret: true, required: false
        %hr
        = render 'config_row', name: 'Time Zone', key: 'TIME_ZONE', default: 'UTC', required: false
        %hr
        %p.mb-0
          %b Email Provider
        - if Rails.application.config.action_mailer.delivery_method == :smtp
          %p
            %span.badge.badge-secondary SparkPost
            %span.badge.badge-success SMTP
            %br
            %small
              %i To switch to SparkPost, unset the <code>SMTP_ADDRESS</code> environment variable
          = render 'config_row', name: 'SMTP Address', key: 'SMTP_ADDRESS'
          = render 'config_row', name: 'SMTP Port', key: 'SMTP_PORT', default: 587
          = render 'config_row', name: 'SMTP Username', key: 'SMTP_USER_NAME', secret: true
          = render 'config_row', name: 'SMTP Password', key: 'SMTP_PASSWORD', secret: true
        - else
          %p
            %span.badge.badge-success SparkPost
            %span.badge.badge-secondary SMTP
            %br
            %small
              %i To switch to SMTP, set the <code>SMTP_ADDRESS</code> environment variable
          = render 'config_row', name: 'SparkPost Campaign ID', key: 'SPARKPOST_CAMPAIGN_ID'
          = render 'config_row', name: 'SparkPost API Key', key: 'SPARKPOST_API_KEY', secret: true
