= render "layouts/manage/page_title", title: "Hackathon Configuration"

.row
  .col-lg-6.mb-3
    - @config.each_key do |key|
      %p
        = link_to edit_manage_config_path(key), class: 'icon-space-r' do
          %span.fa.fa-pencil
        %b #{key}:
        %pre= @config[key]

  .col-lg-6.mb-3
    .card
      .card-body
        %h5.card-title Environment Variables
        %h6.card-subtitle.mb-2.text-muted
          Environment variables are configured on the production server.
        %hr
        %p
          %b AWS S3 Bucket for Resumes:
          %pre= ENV['AWS_BUCKET'] || '[No value]'
