= render "layouts/manage/page_title", title: "Hackathon Configuration"

.row
  .col-lg-6.mb-3
    - @config.each_key do |key|
      .card.mb-3
        .card-body
          %p.mb-1
            = link_to edit_manage_config_path(key), class: 'icon-space-r' do
              %span.fa.fa-pencil
            %b
              = t("simple_form.labels.hackathon_config.#{key}")
            &nbsp;
            %small
              %code= key
          %p.text-muted= t("simple_form.hints.hackathon_config.#{key}").html_safe
          - if @config[key] == ''
            %p.mb-0
              %span.badge.badge-secondary Not set
          - else
            %pre.mb-0= @config[key]

  .col-lg-6.mb-3
    .card.mb-3
      .card-body
        %h5.card-title Environment Variables
        %h6.card-subtitle.mb-2.text-muted
          Environment variables are configured on the production server.
        %hr
        = render 'config_row', name: 'AWS S3 Bucket for Resumes', key: 'AWS_BUCKET'
        = render 'config_row', name: 'AWS S3 Region', key: 'AWS_REGION'
        = render 'config_row', name: 'AWS S3 Region', key: 'AWS_REGION'
        = render 'config_row', name: 'AWS S3 Access Key ID', key: 'AWS_ACCESS_KEY_ID'
        = render 'config_row', name: 'AWS S3 Secret Access Key', key: 'AWS_SECRET_ACCESS_KEY', secret: true
        %hr
        = render 'config_row', name: 'Domain Name', key: 'HM_DOMAIN_NAME'
        = render 'config_row', name: 'Domain Protocol', key: 'HM_DOMAIN_PROTOCOL'
        %hr
        = render 'config_row', name: 'Sparkpost API Key', key: 'SPARKPOST_API_KEY', secret: true
        = render 'config_row', name: 'Sparkpost Campaign ID', key: 'SPARKPOST_CAMPAIGN_ID'
        %hr
        = render 'config_row', name: 'My MLH Application ID', key: 'MLH_KEY'
        = render 'config_row', name: 'My MLH Secret', key: 'MLH_SECRET', secret: true
        %hr
        = render 'config_row', name: 'Rollbar Access Token', key: 'ROLLBAR_ACCESS_TOKEN', secret: true
