!!! 5
%html
  %head
    %title= yield(:title).presence || "#{HackathonConfig['name']} Manager"
    %meta{ content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport" }/

    - if HackathonConfig['favicon_asset'].present?
      %link{ href: image_url(HackathonConfig['favicon_asset']), rel: "shortcut icon" }

    = stylesheet_link_tag "manage", :media => "all", 'data-turbolinks-track': 'reload'
    = javascript_include_tag "manage/application", 'data-turbolinks-track': 'reload'
    = csrf_meta_tags

  %body
    %nav.navbar.navbar-expand.navbar-dark.fixed-top.bg-dark.flex-nowrap.p-0.shadow

      %span.navbar-mobile-toggle.m-0{onclick: 'toggleMobileNav()'}
        .fa.fa-bars.m-3.mx-4.text-white.h-auto

      / TODO: move acc/signin inside the sidebar
      %a.navbar-brand.px-3.mr-0{href: manage_root_path} #{HackathonConfig['name']} Manager

      / %input.form-control.form-control-dark.w-100{"aria-label" => "Search", placeholder: "Search", type: "text"}/
      %ul.navbar-nav.ml-auto.px-3
        %li.nav-item.text-nowrap
          = link_to "Account", root_path, class: "nav-link"
        %li.nav-item.text-nowrap
          = link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link"

    .container-fluid
      .row
        %nav.col-md-3.d-none.d-md-block.bg-light.sidebar
          .sidebar-sticky
            %h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
              %span
                = t(:overview, scope: 'layouts.manage.navigation')
            - if current_user.organizing_staff?
              %ul.nav.flex-column.mb-2
                %li.nav-item
                  = active_link_to manage_root_path, class: "nav-link", active_children: false do
                    .fa.fa-area-chart.fa-fw.icon-space-r-half
                    = t(:title, scope: 'pages.manage.dashboard')
                %li.nav-item
                  = active_link_to manage_questionnaires_path, class: "nav-link" do
                    .fa.fa-inbox.fa-fw.icon-space-r-half
                    = t(:title, scope: 'pages.manage.questionnaires')
                %li.nav-item
                  = active_link_to manage_messages_path, class: "nav-link" do
                    .fa.fa-bullhorn.fa-fw.icon-space-r-half
                    = t(:title, scope: 'pages.manage.messages')
            - elsif current_user.volunteer?
              %ul.nav.flex-column.mb-2
                %li.nav-item
                  = active_link_to manage_checkins_path, class: "nav-link" do
                    .fa.fa-drivers-license-o.fa-fw.icon-space-r-half
                    = t(:title, scope: 'pages.manage.check-in')
                %li.nav-item
                  = active_link_to manage_questionnaires_path, class: "nav-link" do
                    .fa.fa-inbox.fa-fw.icon-space-r-half
                    = t(:title, scope: 'pages.manage.questionnaires')

            - if current_user.organizing_staff?
              %h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
                %span
                  = t(:logistics, scope: 'layouts.manage.navigation')
              %ul.nav.flex-column.mb-2
                %li.nav-item
                  = active_link_to manage_checkins_path, class: "nav-link" do
                    .fa.fa-drivers-license-o.fa-fw.icon-space-r-half
                    = t(:title, scope: 'pages.manage.check-in')
                %li.nav-item
                  = active_link_to manage_stats_path, class: "nav-link" do
                    .fa.fa-table.fa-fw.icon-space-r-half
                    = t(:title, scope: 'pages.manage.stats')
                %li.nav-item
                  = active_link_to manage_trackable_tags_path, class: "nav-link" do
                    .fa.fa-tag.fa-fw.icon-space-r-half
                    = t(:title, scope: 'pages.manage.trackable-tags')

            %h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
              %span
                = t(:travel, scope: 'layouts.manage.navigation')
            %ul.nav.flex-column.mb-2
              %li.nav-item
                = active_link_to manage_bus_lists_path, class: "nav-link" do
                  .fa.fa-bus.fa-fw.icon-space-r-half
                  = t(:title, scope: 'pages.manage.bus-lists')
              %li.nav-item
                = active_link_to manage_schools_path, class: "nav-link" do
                  .fa.fa-home.fa-fw.icon-space-r-half
                  = t(:title, scope: 'pages.manage.schools')

            - if current_user.director?
              %h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
                %span
                  = t(:administration, scope: 'layouts.manage.navigation')
              %ul.nav.flex-column.mb-2
                %li.nav-item
                  = active_link_to manage_users_path, class: "nav-link" do
                    .fa.fa-users.fa-fw.icon-space-r-half
                    = t(:title, scope: 'pages.manage.users')
                %li.nav-item
                  = active_link_to manage_extra_questions_path, class: "nav-link" do
                    .fa.fa-inbox.fa-fw.icon-space-r-half
                    = t(:title, scope: 'pages.manage.extra-questions')
                %li.nav-item
                  = active_link_to manage_configs_path, class: "nav-link" do
                    .fa.fa-wrench.fa-fw.icon-space-r-half
                    = t(:title, scope: 'pages.manage.settings')

              %h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
                %span
                  = t(:advanced, scope: 'layouts.manage.navigation')
              %ul.nav.flex-column.mb-2
                %li.nav-item
                  = active_link_to sidekiq_web_path, target: '_blank', class: "nav-link" do
                    .fa.fa-tasks.fa-fw.icon-space-r-half
                    = t(:title, scope: 'pages.manage.sidekiq')
                    %span.fa.fa-external-link.icon-space-l-half
                    .nav-item-description
                      = t(:sidekiq, scope: 'layouts.manage.navigation.descriptors')
                %li.nav-item
                  = active_link_to blazer_path, target: '_blank', class: "nav-link" do
                    .fa.fa-terminal.fa-fw.icon-space-r-half
                    = t(:title, scope: 'pages.manage.blazer')
                    %span.fa.fa-external-link.icon-space-l-half
                    .nav-item-description
                      = t(:blazer, scope: 'layouts.manage.navigation.descriptors')
                %li.nav-item
                  = active_link_to oauth_applications_path, target: '_blank', class: "nav-link" do
                    .fa.fa-unlock.fa-fw.icon-space-r-half
                    = t(:title, scope: 'pages.manage.doorkeeper')
                    %span.fa.fa-external-link.icon-space-l-half
                    .nav-item-description
                      = t(:doorkeeper, scope: 'layouts.manage.navigation.descriptors')
                %li.nav-item
                  = active_link_to manage_data_exports_path, class: "nav-link" do
                    .fa.fa-download.fa-fw.icon-space-r-half
                    = t(:title, scope: 'pages.manage.data-exports')
                    .nav-item-description
                      = t(:dataexports, scope: 'layouts.manage.navigation.descriptors')
        %main.col-md-9.ml-sm-auto.px-4{role: "main"}
          = render "layouts/manage/flashes"
          = yield
          %div.mb-4.text-center
            %small.text-muted
              Powered by
              = link_to 'hackathon-manager', 'https://codeRIT.org/hackathon-manager/'
              &nbsp;·&nbsp;
              = link_to 'Changelog', 'https://github.com/codeRIT/hackathon-manager/releases'
              &nbsp;·&nbsp;
              = link_to 'Report bug', 'https://github.com/codeRIT/hackathon-manager/issues/new'
