!!! 5
%html
  %head
    %title= yield(:title).presence || "#{HackathonConfig['name']} Manager"
    %meta{ content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport" }/

    - if HackathonConfig['favicon_asset'].present?
      %link{ href: image_url(HackathonConfig['favicon_asset']), rel: "shortcut icon" }

    = stylesheet_link_tag "hackathon_manager/manage", :media => "all"
    = csrf_meta_tags

  %body
    = javascript_include_tag "hackathon_manager/manage/application"

    %nav.navbar.navbar-dark.fixed-top.bg-dark.flex-nowrap.p-0.shadow
      %a.navbar-brand.col-xs-6.col-sm-3.col-md-2.mr-0{href: manage_root_path} #{HackathonConfig['name']} Manager
      / %input.form-control.form-control-dark.w-100{"aria-label" => "Search", placeholder: "Search", type: "text"}/
      %span.navbar-brand.navbar-mobile-toggle.mr-0.pl-3.pr-3{onclick: 'toggleMobileNav()'}
        .fa.fa-bars.fa-fw.icon-space-r-half
      %ul.navbar-nav.px-3
        %li.nav-item.text-nowrap
          = link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link"

    .container-fluid
      .row
        %nav.col-md-2.d-none.d-md-block.bg-light.sidebar
          .sidebar-sticky
            %ul.nav.flex-column
              %li.nav-item
                = active_link_to manage_root_path, class: "nav-link", active_children: false do
                  .fa.fa-area-chart.fa-fw.icon-space-r-half
                  Dashboard
              %li.nav-item
                = active_link_to manage_questionnaires_path, class: "nav-link" do
                  .fa.fa-inbox.fa-fw.icon-space-r-half
                  Questionnaires
              %li.nav-item
                = active_link_to manage_checkins_path, class: "nav-link" do
                  .fa.fa-drivers-license-o.fa-fw.icon-space-r-half
                  Check-in
              %li.nav-item
                = active_link_to manage_admins_path, class: "nav-link" do
                  .fa.fa-users.fa-fw.icon-space-r-half
                  Admins
              %li.nav-item
                = active_link_to manage_messages_path, class: "nav-link" do
                  .fa.fa-bullhorn.fa-fw.icon-space-r-half
                  Messages
              %li.nav-item
                = active_link_to manage_bus_lists_path, class: "nav-link" do
                  .fa.fa-bus.fa-fw.icon-space-r-half
                  Bus Lists
              %li.nav-item
                = active_link_to manage_schools_path, class: "nav-link" do
                  .fa.fa-home.fa-fw.icon-space-r-half
                  Schools
              %li.nav-item
                = active_link_to manage_stats_path, class: "nav-link" do
                  .fa.fa-table.fa-fw.icon-space-r-half
                  Stats
              %li.nav-item
                = active_link_to manage_trackable_tags_path, class: "nav-link" do
                  .fa.fa-tag.fa-fw.icon-space-r-half
                  Trackable Tags
            - if current_user.admin?
              %h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
                %span Advanced
              %ul.nav.flex-column.mb-2
                %li.nav-item
                  = active_link_to manage_configs_path, class: "nav-link" do
                    .fa.fa-wrench.fa-fw.icon-space-r-half
                    Config
                    .nav-item-description Manage configuration
                %li.nav-item
                  = active_link_to sidekiq_web_path, target: '_blank', class: "nav-link" do
                    .fa.fa-tasks.fa-fw.icon-space-r-half
                    Sidekiq
                    %span.fa.fa-external-link.icon-space-l-half
                    .nav-item-description Monitor background jobs
                %li.nav-item
                  = active_link_to blazer_path, target: '_blank', class: "nav-link" do
                    .fa.fa-terminal.fa-fw.icon-space-r-half
                    Blazer
                    %span.fa.fa-external-link.icon-space-l-half
                    .nav-item-description Run custom SQL queries
                %li.nav-item
                  = active_link_to oauth_applications_path, target: '_blank', class: "nav-link" do
                    .fa.fa-unlock.fa-fw.icon-space-r-half
                    Doorkeeper
                    %span.fa.fa-external-link.icon-space-l-half
                    .nav-item-description OAuth2 provider management
        %main.col-md-10.ml-sm-auto.px-4{role: "main"}
          = render "layouts/manage/flashes"
          = yield

    = render "layouts/hackathon_manager/shared_footer"
