!!! 5
%html
  %head
    %title= yield(:title) || "Manage - #{Rails.configuration.hackathon['name']}"
    = stylesheet_link_tag "hackathon_manager/manage", :media => "all"
    = csrf_meta_tags

  %body
    = render "layouts/sidebar"
    = javascript_include_tag "hackathon_manager/manage/application"
    #main
      #manageNav
        %p #{Rails.configuration.hackathon['name']} Manager
        = link_to "Dashboard", manage_root_path
        = link_to "Questionnaires", manage_questionnaires_path
        = link_to "Admins", manage_admins_path
        = link_to "Messages", manage_messages_path
        = link_to "Bus Lists", manage_bus_lists_path
        = link_to "Schools", manage_schools_path
        = link_to "Stats", manage_stats_path
        - unless current_user.admin_limited_access?
          \|
          = link_to "Sidekiq", sidekiq_web_path
          = link_to "Blazer", blazer_path
      = yield
    = render "layouts/shared_footer"
