- title "RSVP"
.form-container
  #disclaimer
    %h1.section-title
      RSVP
      %span.emphasized Preferences
    - if @questionnaire.acc_status == "rsvp_confirmed" || @questionnaire.checked_in?
      %strong
        - if @questionnaire.riding_bus
          ALL SET TO ATTEND & RIDE THE BUS!
        - else
          ALL SET TO ATTEND!
      %br
      %br
      Expect an email closer to February 11th with additional logistics & travel info.
    - else
      %strong= current_user.questionnaire.verbal_status.upcase
      - if @questionnaire.acc_status == "rsvp_denied"
        %p Sorry to hear you won't be with us this year.
      - else
        %p You've been accepted to #{Rails.configuration.hackathon['name']}!
        %p Will you be attending?

    %hr

    = simple_form_for @questionnaire, url: url_for(controller: "rsvps", action: "update"), html: { "data-validate" => "form" } do |f|
      .form-inputs
        = f.input :acc_status, as: :radio_buttons, collection: { " Attending!" => "rsvp_confirmed", " Not Attending." => "rsvp_denied" }, label: "Attendance:", required: true

        .hide-if-not-attending{ style: @questionnaire.acc_status == "rsvp_denied" ? "display: none;" : "" }
          = f.input :phone, input_html: { "data-validate" => "presence" }, label: "Please verify your phone number:"

      .hide-if-not-attending{ style: @questionnaire.acc_status == "rsvp_denied" ? "display: none;" : "" }
        - if @questionnaire.eligible_for_a_bus?
          - if !@questionnaire.riding_bus && @questionnaire.bus_list.full?
            #disclaimer
              Aw, shucks. Your school is eligible for a bus, but all the seats are currently taken.
          - else
            %p
              - if @questionnaire.riding_bus && @questionnaire.acc_status != "rsvp_denied"
                .fa.fa-check
                You're all set to ride the bus.
                - if @questionnaire.bus_list.full?
                  %br
                  %br
                  .fa.fa-warning
                  Your bus is currently full. If you are no longer riding, please update your status so someone else may use it.
              - else
                Good news: your school is eligible for a bus! Will you be riding?
            .form-inputs
              = f.input :riding_bus, as: :radio_buttons, collection: { " Yes!" => true, " No thank you." => false }, label: "Riding the bus:", hint: "You MUST sign up here if you wish to ride the bus! IDs will be checked at boarding."
              - if @questionnaire.bus_list.needs_bus_captain
                = f.input :bus_captain_interest, as: :radio_buttons, collection: { " Yes!" => true, " No thank you." => false }, label: "We're also looking for bus captains from your school. Are you interested?"

        - else
          = f.input :riding_bus, as: :hidden, value: false

      .right
        = f.button :submit, value: "Update"
        %br
        - if @questionnaire.eligible_for_a_bus? && @questionnaire.is_bus_captain?
          %p= link_to "Manage Bus List &raquo;".html_safe, bus_list_path

  - if @questionnaire.eligible_for_a_bus?
    = render partial: 'bus_list_info', locals: { bus_list: @questionnaire.bus_list }
