= render "layouts/manage/page_title", title: t(:title, scope: 'pages.manage.messages') do
  = link_to "New Message", new_manage_message_path, class: "btn btn-sm btn-outline-secondary"

.mb-4
  %table.bulk-messages.datatable.table.table-striped.table-hover{ "data-source" => datatable_manage_messages_path(format: :json) }
    %thead
      %tr
        %th ID
        %th Name
        %th Subject
        %th Status
        %th Created
        %th Last modified
        %th Delivered
    %tbody

.mb-4
  = render 'docs_link', title: 'Message documentation', url: 'https://coderit.org/hackathon-manager/docs/messages'

= render 'triggered_email_summary'

- if current_user.try(:director?)
  .mb-4
    %h3.pb-2.mb-3.border-bottom#triggered-email-overview Message Template
    %p The message template is used for all outgoing emails. If desired, it may be customized to your needs.
    = render 'message_template_status'
    %p
      = link_to 'Customize message template', template_manage_messages_path
