<%= render "layouts/manage/page_title", title: t(:title, scope: 'pages.manage.messages') do %>
  <%= link_to "New Message", new_manage_message_path, class: "btn btn-sm btn-outline-secondary" %>
<% end %>
<div class="mb-4">
  <table class="bulk-messages datatable table table-striped table-hover" data-source="<%= datatable_manage_messages_path(format: :json) %>">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Subject</th>
        <th>Status</th>
        <th>Created</th>
        <th>Last modified</th>
        <th>Delivered</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
<div class="mb-4">
  <%= render 'docs_link', title: 'Message documentation', url: 'https://coderit.org/hackathon-manager/docs/messages' %>
</div>
<%= render 'triggered_email_summary' %>
<% if current_user.try(:director?) %>
  <div class="mb-4">
    <h3 class="pb-2 mb-3 border-bottom" id="triggered-email-overview">Message Template</h3>
    <p>The message template is used for all outgoing emails. If desired, it may be customized to your needs.</p>
    <%= render 'message_template_status' %>
    <p>
      <%= link_to 'Customize message template', template_manage_messages_path %>
    </p>
  </div>
<% end %>

