%section.section.manage
  %h1.section-title= title "Message"

  :ruby
    begin
      recipient_count = pluralize(BulkMessageWorker.build_recipients(@message.recipients).count, "recipient")
    rescue => recipient_error
    end

  %p
    %b Name:
    = @message.name
  %p
    %b Subject:
    = @message.subject
  %p
    %b Template:
    = @message.template.titleize
  %p
    %b Recipients:
    = @message.recipients_list.presence || "(none)"
    %br
    %small
      %em Sent manually, in bulk
    - if @message.recipients.present?
      %br
      %small
        - if recipient_error.present?
          %strong{style: 'color: red;'} Error parsing recipients:
          = recipient_error
          %br To resolve this, edit & remove the offending recipient.
        - else
          %em #{recipient_count} currently match this query
  %p
    %b Trigger:
    = Message::POSSIBLE_TRIGGERS[@message.trigger] || "(no automatic trigger)"
    %br
    %small
      %em Sent automatically, to an individual applicant
  %p
    %b Preview:
    = link_to "Open full preview &raquo;".html_safe, preview_manage_message_path

  %iframe.email-preview{src: preview_manage_message_path(@message)}

  - if @message.recipients_list.present?
    %fieldset
      %legend Bulk delivery details
      %p
        %b
          Status:
          = @message.status.titleize
      %p
        %b Queued At:
        = @message.queued_at || "(n/a)"
      %p
        %b Started At:
        = @message.started_at || "(n/a)"
      %p
        %b Delivered At:
        = @message.delivered_at || "(n/a)"

  %hr

  - unless current_user.admin_limited_access
    - if @message.can_queue?
      - if recipient_error.present?
        %button.button{disabled: 'disabled'} Deliver
        %small Cannot deliver when there is a recipient error; see error above.
        %br
        %br
      - else
        = btn_link_to 'Deliver', deliver_manage_message_path(@message), method: :patch, data: { confirm: "Are you sure? The message \"#{@message.name}\" will be sent to #{recipient_count}." }
        \|
    - if @message.can_edit?
      = link_to 'Edit', edit_manage_message_path(@message)
      \|
      = link_to 'Delete', manage_message_path(@message), method: :delete, data: { confirm: "Are you sure? The message \"#{@message.name}\" will be permanently erased. This action is irreversible." }
      \|
    = link_to 'Duplicate', duplicate_manage_message_path(@message), method: :patch
    \|
  = link_to 'Back', manage_messages_path
