- title "Application"
.form-container
  #disclaimer
    %h1.section-title
      Application
      %span.emphasized Status
    - if @questionnaire.blank?
      %p
        %strong AWAITING APPLICATION
    - else
      %p
        %strong= @questionnaire.verbal_status.upcase
      - if @questionnaire.can_rsvp?
        - if @questionnaire.did_rsvp?
          - if @questionnaire.acc_status == "rsvp_confirmed"
            %p
              Congratulations! You're all set to attend #{HackathonConfig['name']}!
          - if HackathonConfig['thanks_for_rsvp_message'].present?
            = markdown(HackathonConfig['thanks_for_rsvp_message'])
          %p.center
            = btn_link_to "Change RSVP", rsvp_path
        - else
          %p
            Please RSVP so we know if you're attending!
            %br
            %br
          %p.center
            = btn_link_to "RSVP NOW &raquo;".html_safe, rsvp_path
      - if !@questionnaire.can_rsvp? && @questionnaire.acc_status != "denied"
        - if HackathonConfig['accepting_questionnaires']
          - if HackathonConfig['thanks_for_applying_message'].present?
            = markdown(HackathonConfig['thanks_for_applying_message'])
          - else
            %p Thanks for applying! You will be notified of your acceptance via email.
        - else
          %p Thanks for applying!

.form-container
  %h1.section-title.section-title--actions
    %span
      Review your
      %span.emphasized Application
    = btn_link_to 'Edit', edit_questionnaires_path, class: 'section-title__action'

  .participant_info
    = render partial: 'questionnaire_summary'

  %br
  %p.session-link.right
    Unhappy? #{link_to "Revoke my application", user_registration_path, data: { confirm: "Are you sure? Your account and application will be permanently erased." }, method: :delete}
