<% title "Application" %>
<div class="form-container">
  <% if @questionnaire.unaccepted_agreements.any? %>
    <%= render partial: 'unaccepted_agreements_notice' %>
  <% end %>
  <% if @questionnaire.country.blank? %>
    <%= render partial: 'missing_country_notice' %>
  <% end %>
</div>
<div class="form-container">
  <div id="disclaimer">
    <h1 class="section-title">
      Application
      <span class="emphasized">Status</span>
    </h1>
    <% if @questionnaire.blank? %>
      <p>
        <strong>AWAITING APPLICATION</strong>
      </p>
    <% else %>
      <p>
        <strong>
          <%= @questionnaire.verbal_status.upcase %>
        </strong>
      </p>
      <% if @questionnaire.can_rsvp? %>
        <% if @questionnaire.did_rsvp? %>
          <% if @questionnaire.acc_status == "rsvp_confirmed" %>
            <p>
              Congratulations! You're all set to attend #{HackathonConfig['name']}!
            </p>
          <% end %>
          <% if HackathonConfig['thanks_for_rsvp_message'].present? %>
            <%= markdown(HackathonConfig['thanks_for_rsvp_message']) %>
          <% end %>
          <p class="center">
            <%= btn_link_to "Change RSVP", rsvp_path %>
          </p>
        <% else %>
          <p>
            Please RSVP so we know if you're attending!
            <br/>
            <br/>
          </p>
          <p class="center">
            <%= btn_link_to "RSVP NOW &raquo;".html_safe, rsvp_path %>
          </p>
        <% end %>
      <% end %>
      <% if !@questionnaire.can_rsvp? && @questionnaire.acc_status != "denied" %>
        <% if HackathonConfig['accepting_questionnaires'] %>
          <% if HackathonConfig['thanks_for_applying_message'].present? %>
            <%= markdown(HackathonConfig['thanks_for_applying_message']) %>
          <% else %>
            <p>Thanks for applying! You will be notified of your acceptance via email.</p>
          <% end %>
        <% else %>
          <p>Thanks for applying!</p>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
<div class="form-container">
  <h1 class="section-title section-title--actions">
    <span>
      Review your
      <span class="emphasized">Application</span>
    </span>
    <%= btn_link_to 'Edit', edit_questionnaires_path, class: 'section-title__action' %>
  </h1>
  <div class="participant_info">
    <%= render partial: 'questionnaire_summary' %>
  </div>
  <br/>
  <p class="session-link right">
    Unhappy? #{link_to "Revoke my application", user_registration_path, data: { confirm: "Are you sure? Your account and application will be permanently erased." }, method: :delete}
  </p>
</div>
