= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .form-actions
    .center
      %p
        = btn_link_to "Continue with My MLH &raquo;".html_safe, user_mlh_omniauth_authorize_path
      %p
        %em or use an account:
  .form-inputs
    = f.input :email, required: false, input_html: { autofocus: true }
    = f.input :password, required: false
    = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
  .form-actions{class:'center'}
    = f.button :submit, "Sign In"
    %p
      Need an account?
      = link_to "Sign Up".html_safe, new_user_registration_path
      \-
      = link_to "Forgot password", new_user_password_path
