.div.dataTable
  - if @dietary_restrictions_special_needs.any?
    .row
      .col.text-right
        = search_form_for(@dietary_restrictions_special_needs_search, as: :dietary_restrictions_special_needs_search, url: manage_stats_path, data: {turbo_frame: :dietary_restrictions_special_needs_table, controller: "form", action: "input->form#submit"}, method: :get) do |f|
          #{f.label :name_cont, "Search"}
          #{f.search_field(:name_cont, class: "form-control form-control-sm")}

    .row
      .col
        = turbo_frame_tag :dietary_restrictions_special_needs_table do
          %table.dataTable.table.table-striped.table-hover
            %thead
              %tr
                %th
                %th= t(:first_name, scope: 'pages.manage.stats')
                %th= t(:last_name, scope: 'pages.manage.stats')
                %th= t(:email, scope: 'pages.manage.stats')
                %th= t(:phone, scope: 'pages.manage.stats')
                %th= t(:checked_in, scope: 'pages.manage.stats')
                %th= t(:dietary_restrictions, scope: 'pages.manage.stats')
                %th= t(:special_needs, scope: 'pages.manage.stats')
            %tbody
              - @dietary_restrictions_special_needs.each do |questionnaire|
                %tr
                  %td= link_to('<i class="fa fa-search"></i>'.html_safe, manage_questionnaire_path(questionnaire), target: "_top")
                  %td
                    %strong= questionnaire.user.first_name
                  %td
                    %strong= questionnaire.user.last_name
                  %td= questionnaire.email
                  %td= questionnaire.phone
                  %td= yes_no_display(questionnaire.checked_in?)
                  %td= questionnaire.dietary_restrictions
                  %td= questionnaire.special_needs

          .row
            .col
              = pagy_bootstrap_nav(@dietary_restrictions_special_needs_pagy).html_safe
  - else
    %div{ style: "display:flex; align-items: center; flex-direction: column;" }
      %p There aren't any applicants with dietary restrictions or special needs.
