= render "layouts/manage/page_title", title: t(:title, scope: 'pages.manage.stats')

.row
  .col
    %h5.dashboard-container-title= t(:dietary_restrictions_special_needs, scope: 'pages.manage.stats')
    = render "dietary_restrictions_special_needs_restrictions_datatable", dietary_restrictions_special_needs_search: @dietary_restrictions_special_needs_search, dietary_restrictions_special_needs: @dietary_restrictions_special_needs, dietary_restrictions_special_needs_pagy: @dietary_restrictions_special_needs_pagy

- if !HackathonConfig.digital_hackathon
  .row
    .col
      %h5.dashboard-container-title= t(:attendees_not_traveling_from_their_school, scope: 'pages.manage.stats')
      = render "alt_travel_datatable", alt_travel_applicants_search: @alt_travel_applicants_search, alt_travel_applicants: @alt_travel_applicants, alt_travel_applicants_pagy: @alt_travel_applicants_pagy

.row
  .col
    %h5.dashboard-container-title= t(:attendee_info_for_sponsors, scope: 'pages.manage.stats')
    = render "attendee_sponsor_info_datatable", sponsor_info_attendees_search: @sponsor_info_attendees_search, sponsor_info_attendees: @sponsor_info_attendees, sponsor_info_attendees_pagy: @sponsor_info_attendees_pagy

.row
  .col
    %h5.dashboard-container-title= t(:applied_attendees, scope: 'pages.manage.stats')
    = render "applied_datatable", applied_search: @applied_search, applied: @applied, applied_pagy: @applied_pagy

.row
  .col
    %h5.dashboard-container-title= t(:checked_in_attendees, scope: 'pages.manage.stats')
    = render "checked_in_datatable", checked_in_applicants_search: @checked_in_applicants_search, checked_in_applicants: @checked_in_applicants, checked_in_applicants_pagy: @checked_in_applicants_pagy
