%section.section{ style: "padding-left: 20px; padding-right: 20px" }
  %h1.section-title= title "Bus List"
  %p#notice= notice

  %p Thank you for being a bus captain! Below is any information you may need about your passengers.

  %p
    If a student was accepted but didn't RSVP or sign up for the bus, they can go to
    %strong= rsvp_url
    to do so.

  - if Rails.configuration.hackathon['bus_captain_notes']
    = markdown(Rails.configuration.hackathon['bus_captain_notes'])

  %p
    %b Bus List Name:
    = @bus_list.name

  = render partial: 'bus_list_info', locals: { bus_list: @bus_list }

  %p
    %strong Passengers:
    = "(#{@bus_list.passengers.count} total, #{@bus_list.checked_in_passengers.count} checked in)"

  %table.table
    %thead
      %tr
        %th First Name
        %th Last Name
        %th Email
        %th Phone Number
        %th School
        %th Checked in?
    %tbody
      - @bus_list.passengers.each do |p|
        %tr
          %td= p.first_name
          %td= p.last_name
          %td= p.email
          %td= phone_link_to p.phone
          %td= p.school.name
          %td= p.checked_in? ? '<span class="acc-status-accepted">Yes</span>'.html_safe : 'No'

  = render partial: 'bus_list_stats', locals: { bus_list: @bus_list }
