- title "Bus Captain"
.form-container
  %h1.section-title
    Bus
    %span.emphasized Captain

  %p Thank you for being a bus captain! Below is any information you may need about your passengers.

  %p
    If a student was accepted but didn't RSVP or sign up for the bus, they can go to
    %strong= rsvp_url
    to do so.

  - if Rails.configuration.hackathon['bus_captain_notes']
    = markdown(Rails.configuration.hackathon['bus_captain_notes'])

  %p
    %b Bus List Name:
    = @bus_list.name

  = render partial: 'bus_list_info', locals: { bus_list: @bus_list }

  %p
    %strong Passengers:
    (#{@bus_list.passengers.count} total,
    <span id="boarded-bus-count">#{@bus_list.boarded_passengers.count} boarded</span>,
    #{@bus_list.checked_in_passengers.count} checked in)

  %table.table
    %thead
      %tr
        %th Boarded bus?
        %th First Name
        %th Last Name
        %th Email
        %th Phone Number
        %th School
        %th Checked in?
    %tbody
      - @bus_list.passengers.each do |p|
        %tr
          %td
            %input{type: 'checkbox', checked: p.boarded_bus?, data: { "boarded-bus": true, action: boarded_bus_bus_list_path, id: p.id } }
          %td= p.first_name
          %td= p.last_name
          %td= p.email
          %td= phone_link_to p.phone
          %td= p.school.name
          %td= p.checked_in? ? '<span class="acc-status-accepted">Yes</span>'.html_safe : 'No'

  = render partial: 'bus_list_stats', locals: { bus_list: @bus_list }
