= render "layouts/manage/page_title", title: t(:title, scope: 'pages.manage.users')

.row
  .col
    %h5.dashboard-container-title
      = t(:users, scope: 'pages.manage.users')

= render "user_datatable", users_search: @user_search, users: @users, users_pagy: @users_pagy

.row
  .col
    %h5.dashboard-container-title
      = t(:staff, scope: 'pages.manage.users', hackathon_name: HackathonConfig.hackathon_name)

= render "staff_datatable", staff_search: @staff_search, staff: @staff, staff_pagy: @staff_pagy
