= render "layouts/manage/page_title", title: t(:title, scope: 'pages.manage.users')

.row
  .col
    %h5.dashboard-container-title
      = t(:users, scope: 'pages.manage.users')
    %table.users.datatable.table.table-striped.table-hover{ "data-source" => user_datatable_manage_users_path(format: :json) }
      %thead
        %tr
          %th= t(:id, scope: 'pages.manage.users.table')
          %th= t(:email, scope: 'pages.manage.users.table')
          %th= t(:role, scope: 'pages.manage.users.table')
          %th= t(:questionnaire, scope: 'pages.manage.users.table')
          %th= t(:login_access, scope: 'pages.manage.users.table')
          %th= t(:registered_on, scope: 'pages.manage.users.table')
          %th= t(:signed_in_on, scope: 'pages.manage.users.table')
          %th= t(:previous_signed_in_on, scope: 'pages.manage.users.table')
          %th= t(:signed_in_ip, scope: 'pages.manage.users.table')
          %th= t(:previous_signed_in_ip, scope: 'pages.manage.users.table')
          %th= t(:sign_in_count, scope: 'pages.manage.users.table')
        %tbody

.row
  .col
    %h5.dashboard-container-title
      = t(:staff, scope: 'pages.manage.users', hackathon_name: HackathonConfig['name'])
    %table.admins.datatable.table.table-striped.table-hover{ "data-source" => admin_datatable_manage_users_path(format: :json) }
      %thead
        %tr
          %th= t(:id, scope: 'pages.manage.users.table')
          %th= t(:email, scope: 'pages.manage.users.table')
          %th= t(:role, scope: 'pages.manage.users.table')
          %th= t(:login_access, scope: 'pages.manage.users.table')
          %th= t(:weekly_report, scope: 'pages.manage.users.table')
          %th= t(:registered_on, scope: 'pages.manage.users.table')
          %th= t(:signed_in_on, scope: 'pages.manage.users.table')
          %th= t(:previous_signed_in_on, scope: 'pages.manage.users.table')
          %th= t(:signed_in_ip, scope: 'pages.manage.users.table')
          %th= t(:previous_signed_in_ip, scope: 'pages.manage.users.table')
          %th= t(:sign_in_count, scope: 'pages.manage.users.table')
        %tbody