= render "layouts/manage/page_title", title: t(:title, scope: "pages.manage.users.show", user_name: @user.full_name) do
  .btn-group
    = link_to t(:edit, scope: "pages.manage.users.show"), edit_manage_user_path(@user), class: 'btn btn-sm btn-outline-secondary'
    = link_to t(:delete, scope: "pages.manage.users.show"), manage_user_path(@user), method: :delete, data: { confirm: "Are you sure? #{@user.email} along with their questionnaire will be permanently deleted. This action is irreversible." }, class: 'btn btn-sm btn-outline-secondary'

.row.mt-2.mb-4
  .col-lg-6
    .card.mb-3
      .card-header= t(:user_information, scope: "pages.manage.users.show")
      .card-body
        .row
          %dt.col-md-5= t(:first_name, scope: "pages.manage.users.show")
          %dd.col-md-7= @user.first_name
        .row
          %dt.col-md-5= t(:last_name, scope: "pages.manage.users.show")
          %dd.col-md-7= @user.last_name
        .row
          %dt.col-md-5= t(:email_address, scope: "pages.manage.users.show")
          %dd.col-md-7= @user.email
        .row
          %dt.col-md-5= t(:role, scope: "pages.manage.users.show")
          %dd.col-md-7= @user.role.titleize
        .row
          %dt.col-md-5= t(:login_access, scope: "pages.manage.users.show")
          %dd.col-md-7
            - if @user.is_active
              %span.badge.badge-success= t(:active, scope: "pages.manage.users.show")
            - else
              %span.badge.badge-danger= t(:inactive, scope: "pages.manage.users.show")
        .row
          %dt.col-md-5= t(:receive_weekly_report, scope: "pages.manage.users.show")
          %dd.col-md-7
            - if @user.receive_weekly_report
              %span.badge.badge-success= t(:yes, scope: "pages.manage.users.show")
              - if !@user.is_active
                %br
                %small
                  %span.fa.fa-info-circle.icon-space-r-half
                  = t(:inactive_warning, scope: "pages.manage.users.show")
            - else
              %span.badge.badge-secondary= t(:no, scope: "pages.manage.users.show")
        .row
          %dt.col-md-5= t(:registered, scope: "pages.manage.users.show")
          %dd.col-md-7= display_datetime(@user.created_at)
        .row
          %dt.col-md-5= t(:signed_in_on, scope: "pages.manage.users.show")
          %dd.col-md-7= display_datetime(@user.current_sign_in_at)
        .row
          %dt.col-md-5= t(:previous_signed_in_on, scope: "pages.manage.users.show")
          %dd.col-md-7= display_datetime(@user.last_sign_in_at)
        .row
          %dt.col-md-5= t(:signed_in_ip, scope: "pages.manage.users.show")
          %dd.col-md-7= @user.current_sign_in_ip == "::1" ? "127.0.0.1" : @user.current_sign_in_ip
        .row
          %dt.col-md-5= t(:previous_signed_in_ip, scope: "pages.manage.users.show")
          %dd.col-md-7= @user.last_sign_in_ip == "::1" ? "127.0.0.1" : @user.last_sign_in_ip
        .row
          %dt.col-md-5= t(:sign_in_count, scope: "pages.manage.users.show")
          %dd.col-md-7= @user.sign_in_count

  .col-lg-6
    .card.mb-3
      .card-header= t(:change_history, scope: "pages.manage.users.show")
      .card-body.pb-2
        = render "model_history", model: @user
