.header
  - if Rails.configuration.hackathon['logo_asset']
    #logo-cta
      = link_to root_path do
        = image_tag Rails.configuration.hackathon['logo_asset'], id: 'logo', alt: "#{Rails.configuration.hackathon['name']} logo", title: Rails.configuration.hackathon['name']
  %nav
    %ul.nav-list
      %li
        = link_to "Home", root_path, class: 'nav-link'
      - if user_signed_in?
        %li
          - if current_user.admin?
            = link_to "Manage", manage_root_path, class: 'nav-link'
          - else
            = link_to "My Account", new_questionnaires_path, class: 'nav-link'
        %li
          = link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'nav-link'
      - else
        %li
          = link_to "Sign In", new_user_session_path, class: 'nav-link'
        %li
          = link_to "Sign Up", new_user_registration_path, class: 'nav-link'

- if current_user.present?
  .account-nav
    .account-nav__wrapper
      .account-nav__links
        = active_link_to 'Account', edit_user_registration_path, class: 'account-nav__link', active_class: 'account-nav__link--active'
        - if current_user.questionnaire.present? && current_user.questionnaire.can_rsvp?
          = active_link_to 'RSVP', rsvp_path, class: 'account-nav__link', active_class: 'account-nav__link--active'
        = active_link_to 'Application', questionnaires_path, class: 'account-nav__link', active_class: 'account-nav__link--active'
