- homepage_url = HackathonConfig['homepage_url'].presence || root_path
.header
  .header__wrapper.account-nav__wrapper
    - if HackathonConfig['logo_asset'].present?
      .header-logo
        = link_to homepage_url do
          = image_tag HackathonConfig['logo_asset'], id: 'logo', alt: "#{HackathonConfig['name']} logo", title: HackathonConfig['name'], class: 'header-logo__image'
    - else
      .header-nav
        = btn_link_to "Home", homepage_url
    .header-nav
      - if user_signed_in?
        - if current_user.director?
          = btn_link_to "Manage", manage_root_path
        = btn_link_to "Sign Out", destroy_user_session_path, method: :delete
