%div{ class:"sidebar #{controller.controller_name}" }
  %span#sidebar-toggle
    %i.fa.fa-navicon
  .pusher
    - if Rails.configuration.hackathon['logo_asset']
      #logo-cta
        = link_to root_path do
          = image_tag Rails.configuration.hackathon['logo_asset'], id: 'logo', alt: "#{Rails.configuration.hackathon['name']} logo", title: Rails.configuration.hackathon['name']
    - if user_signed_in?
      %div
        - if current_user.admin?
          = btn_link_to "Manage", manage_root_path
        - else
          = btn_link_to "Review", new_questionnaires_path
    - else
      %div
        = btn_link_to "Sign In", new_user_session_path
      %div
        = btn_link_to "Sign Up", new_user_registration_path
    - if user_signed_in?
      %div
        = btn_link_to "Sign Out", destroy_user_session_path, method: :delete
