%div{ class:"sidebar #{controller.controller_name}" }
  %span#sidebar-toggle
    %i.fa.fa-navicon
  .pusher
    - if Rails.configuration.hackathon['logo_asset']
      #logo-cta
        = link_to root_path do
          = image_tag Rails.configuration.hackathon['logo_asset'], id: "logo", alt: "BrickHack", title: "BrickHack"
    - if user_signed_in?
      %div
        - if current_user.admin?
          = btn_link_to "Manage", manage_root_path
        - else
          = btn_link_to "Review", new_questionnaires_path
    - else
      %div
        = btn_link_to "Login", new_user_session_path
      %div
        = btn_link_to "Register", new_user_registration_path
    - if user_signed_in?
      %div
        = btn_link_to "Sign Out", destroy_user_session_path, method: :delete
