<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= yield(:title) || HackathonConfig['default_page_title'] %>
    </title>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <% if HackathonConfig['favicon_asset'].present? %>
      <link href="<%= image_url(HackathonConfig['favicon_asset']) %>" rel="shortcut icon"></link>
    <% end %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application", 'data-turbolinks-track': 'reload' %>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css"></link>
    <% if HackathonConfig['custom_css'].present? %>
      <style>
        <%= HackathonConfig['custom_css'] %>
      </style>
    <% end %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <%= render "layouts/account_nav" %>
    <%= render "layouts/flashes" %>
    <div id="main">
      <section class="section">
        <div class="container">
          <%= yield %>
        </div>
      </section>
    </div>
    <% if cookies[:theming_editor] %>
      <%= render "layouts/theming_editor" %>
    <% end %>
  </body>
</html>
