!!! 5
%html
  %head
    %title= yield(:title) || HackathonConfig['default_page_title']
    %meta{ charset: "utf-8" }
    %meta{ name:"viewport", content: "width=device-width, initial-scale=1" }

    - if HackathonConfig['favicon_asset'].present?
      %link{ href: image_url(HackathonConfig['favicon_asset']), rel: "shortcut icon" }

    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag "application", media: "all", 'data-turbo-track': 'reload'
    = javascript_include_tag "application.assets", 'data-turbo-track': 'reload'
    = javascript_importmap_tags

    %link{ href:'//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700', rel: 'stylesheet', type: 'text/css' }
    - if HackathonConfig['custom_css'].present?
      %style
        = HackathonConfig['custom_css']

  %body
    = render "layouts/header"
    = render "layouts/account_nav"
    = render "layouts/flashes"
    #main
      %section.section
        .container
          = yield
    - if cookies[:theming_editor]
      = render "layouts/theming_editor"
