!!! 5
%html
  %head
    %title= yield(:title) || HackathonConfig['default_page_title']
    %meta{ charset: "utf-8" }
    %meta{ name:"viewport", content: "width=device-width, initial-scale=1" }

    - if HackathonConfig['favicon_asset'].present?
      %link{ href: image_url(HackathonConfig['favicon_asset']), rel: "shortcut icon" }

    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': 'reload'

  %body
    = render "layouts/header"
    = render "layouts/account_nav"
    = render "layouts/flashes"
    = javascript_include_tag "application", 'data-turbolinks-track': 'reload'
    #main
      %section.section
        .container
          = yield
    = render "layouts/footer"
    = render "layouts/shared_footer"
